{% extends "yighub/base.html" %}

{% block style %}
body {
	padding-top: 40px
}
div.container-fluid {
	padding: 0px
}
{% endblock %}

{% block contents %}

      <!-- Begin page content -->
      <img src="/static/yighub/images/main.jpg" style="height:30%; width:100%;" />

      <div class="text-center" style="margin-top:50px;">
	      <button type="button" class="btn btn-large btn-primary" onclick="location.href = '{% url 'yighub:download' 6495 'YIG 입회 지원서.doc' %}'">지원서 다운로드</button>
	      <h4>2015YIG@gmail.com 으로 제출</h4>
	  </div>
	  
	<a class='inline' href="#inline_content"></a>
{% endblock %}