{% extends "yighub/simple.html" %}

{% block contents %}
    <div class="container">

      <form class="form-signin" action="{% url 'yighub:login_check' %}", method = "post">
      	{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        {% if messages %}
        <ul class = "messages">
        {% for message in messages %}
        <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <label class="muted">*기존 회원의 경우, 기존의 아이디/비번 그대로 접속할 수 있습니다.</label>
        <input type="text" class="input-block-level" placeholder="id" name="user_id" />
        <input type="password" class="input-block-level" placeholder="password" name="password" />
        <!--
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
    	-->
        <button class="btn btn-large btn-primary" type="submit">로그인</button>
      </form>

    </div> <!-- /container -->
{% endblock %}