{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Vision</span> 
			</div>
			<br />
			<br />
			<strong>YIG의 비전</strong>
			<br />
			<img src="/static/yighub/images/Vision.JPG" style="margin-left:auto; margin-right:auto; display:block;" />
			<br />
			<p class="wrap">
가치투자의 개념과 실제를 탐구하고 실전적용을 통해 건전한 투자 방법을 체득하는 것을 목적으로 함.

미래 한국 자본시장을 이끌 금융전문인을 꿈꾸는 학생들의 모임꾸는 분들을 모집합니다. 불안정한 시장 상황일수록 시장가격과 내재가치를 구별하여 투자하는 것은 중요합니다. 순수한 열정으로 현명한 투자자를 꿈꾸는 이들을 환영합니다.
			</p>
			<br />
			<strong>YIG의 로고</strong>
			<br />
			<img src="/static/yighub/images/yiglogo.png" style="margin-left:auto; margin-right:auto; display:block;" />
			<p class="wrap">
다이아몬드 : Wealth(富), Value

파랑(Blue) : 연세의 상징 Royal Blue

빨강(Red) : 가치를 반영한 주가 상승
			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}