{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Introduction</span> 
			</div>
			<br />
			<br />
			<strong>회장 전언</strong>
			<p class="wrap">
YIG는 실전 투자 학회입니다. YIG는 ‘가치투자’라는 철학 하 기업 가치의 잠재력을 확인합니다. 요지는 미래 수익 창출 능력 및 자산가치 등 기업의 내재가치에 비해 현재 시장 가치(주가)가 저평가되어 있는 기업을 찾아, 선별해 가장 저평가된 기업에 투자하는 것이죠. YIG는 펀드 운용을 통해 주식 투자를 하고 있고, 주식을 통해 ‘금융’이라는 큰 줄기에 항상 접하고 있습니다.

기업은 의외로 사람과 비슷합니다. 사람은 실재하는 존재이며 그 가치가 쉽게 변하지 않습니다. 재미있는 점은 그 가치에 대한 평가는 달라질 수 있다는 것이죠. 기업도 마찬가지입니다. 기업 역시 사람처럼 실재하는 존재이며 각 기업은 고유하고 쉽게 변하지 않는 가치를 지니고 있습니다. 또한 그 기업의 평가인 주가는 변동합니다. 하루에도 상한가 하한가를 맞으며 급변하기도 하지요. 이러한 가치와 가격이 괴리되는 상황은 가치투자자인 우리에게 기회입니다. 기업의 가치는 하루아침에 바뀌는 것이 아닌데, 그에 대한 평가는 엇갈립니다. 하지만 중장기적인 관점에서 시장은 대체로 합리적이기에 그 평가는 가치에 수렴하기 때문입니다. (물론, 시장은 강하고 매정합니다.) 우리는 이 점을 이용해 우리는 기업의 가치를 분석하고 그 가치에 비해 저평가된 기업의 주식을 매수하여 수익을 실현합니다. 

중요한 것은 그 가치와 평가를 분석하는 능력과 기다릴 줄 아는 냉정한 인내심이겠지요.

논리적인 사고와 깊은 통찰력으로 날카로운 분석하며 그 속에 흔들리지 않는 뚝심을 가진 분들과  
함께합니다.

Keep Calm & Join YIG
			</p>
			<p class="text-right">회장 김제헌 올림.</p>
			<br />
			<br />
			<strong>YIG 소개</strong>
			<br />
			<p class="text-info text-center">"같이 가치투자"</p>
			<p class="wrap">
YIG(Yonsei Investment Group)는 2003 년에 설립된 연세대학교 유일의 실전가치투자 동아리로서 최고의 금융전문가를 지향하는 사람들의 모임입니다. 하루가 다르게 격변하는 시장 속에서 가치투자 철학 바탕으로 기업의 진정한 가치를 분석하고 더 나아가 직접 펀드를 운용하며 실제로 검증하는 것을 목표로 하고 있습니다.

YIG(Yonsei Investment Group), being as the first and only investment group in Yonsei University since 2003, is a group of students who aim to be the best investment experts. Based on value investment principles, YIG conducts corporate analysis and valuation while managing its own equity funds.
			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}