{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Introduction</span> 
			</div>
			<br />
			<br />
			<strong>회장 전언</strong>
			<p class="wrap">
YIG는 실전 투자 학회입니다. YIG는 ‘가치투자’라는 기준아래서 기업의 내재가치를 평가하고 시장이 제대로 평가하고 있지 못하는 종목을 찾아내어 실제 투자로 연결하고자 합니다. 이론적인 내용만을 공부하는 것을 넘어 학회 내에 있는 펀드를 통하여 실제 투자를 경험하고, 시장이 놓치고 있는 기업의 내재가치를 분석하여 투자한다는 점에서 여타의 투자학회들과는 차이를 가지고 있습니다. 이러한 YIG의 특징은 기업가치를 분석하는 애널리스트의 활동과 투자자의 자금을 운용하는 펀드 매니저의 활동을 포함하는 것으로, 금융의 큰 축을 이루는 부분과 밀접하게 연관되어 있습니다.

투자는 다양한 변수들이 수익률이라는 하나의 답을 도출하는 복잡한 함수와 같습니다. 기업에 대한 이슈나 해당 산업의 변화, 글로벌 거시지표의 변화 등에 따라 기업의 주가는 시시각각 변화합니다. 그러나, 매 시각 변화하는 주가와 함께 기업의 내재가치 역시 변화하는 것은 아닙니다. 단기의 주가는 우리가 쉽게 풀 수 없는 고차 함수이지만, 장기간의 주가 변화는 기업 내재가치의 1차 함수 입니다. 이렇게 YIG는 기업가치에 대한 분석을 통해 저평가된 주식의 매수를 통해 시장을 이기는 투자를 실현하고자 합니다.   

미국의 밴드 One Republic이 부른 Counting Stars라는 노래 속에 이런 가사가 있습니다. Said no more counting dollars, We’ll be counting stars. 그러나, 가치투자를 지향하는 YIG는 이렇게 표현할 수 있을 것이라 생각합니다.  

Said we do counting dollars, but We’ll be counting stars.

투자를 하는 우리는 더 큰 수익을 추구하지만, 그 속에서 자신만의 투자관과 전설이 된 투자자들을 보며 꿈꾸던 로망이라는 별을 잃지 않아야 한다고 생각합니다. 돈과 별을 함께 셀 수 있는 여러분의 많은 지원 바랍니다.

 Keep Calm & Join YIG 
			</p>
			<p class="text-right">회장 서유일 올림</p>
			<br />
			<br />
			<strong>YIG 소개</strong>
			<br />
			<p class="text-info text-center">"같이 가치투자"</p>
			<p class="wrap">
YIG(Yonsei Investment Group)는 2003 년에 설립된 연세대학교 유일의 실전가치투자 동아리로서 최고의 금융전문가를 지향하는 사람들의 모임입니다. 하루가 다르게 격변하는 시장 속에서 가치투자 철학 바탕으로 기업의 진정한 가치를 분석하고 더 나아가 직접 펀드를 운용하며 실제로 검증하는 것을 목표로 하고 있습니다.

YIG(Yonsei Investment Group), being as the first and only investment group in Yonsei University since 2003, is a group of students who aim to be the best investment experts. Based on value investment principles, YIG conducts corporate analysis and valuation while managing its own equity funds.
			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}