{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Contact Us</span> 
			</div>
			<br />
			<br />
			<img src="/static/yighub/images/contacts.png" style="height:30%; width:100%;" />
<!-- 
			<div class="well">
				<strong class="text-info">회 장</strong>
				<strong>김제헌</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-3153-4200</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>rlawpgsj@naver.com</span>
				<br />
				<br />

				<strong class="text-info">부회장</strong>
				<strong>김지현</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-4759-9369</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>ryu02065@nate.com</span>
				<br />
				<br />
				
				<strong class="text-info">부회장</strong>
				<strong>정혜진</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-3336-2538</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>jhjin1993@naver.com</span>
				<br />
				<br />
				
				<strong class="text-info">HR 매니저</strong>
				<strong>남덕호</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-7942-1723</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>denebola23@gmail.com</span>
				<br />
			</div>
 -->
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}