{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">FAQ</span> 
			</div>
			<br />
			<br />
			<strong>Q. YIG 에 오면 실제로 투자를 해 볼 수 있나요?</strong>
			<p class="wrap">
A. YIG 의 슬로건은 ‘실전 가치투자’입니다. YIG 의 모든 회원은 학회에서 보유한 펀드를 운용하는데 참여할 수 있습니다. 여러분들은 YIG 에서 펀드매니저나 애널리스트로 활동하면서 투자 전략을 수립하고 결정하실 수 있고, 맡은 역할에 따라 직접 매매 주문을 체결할 수도 있습니다.
			</p>
			<strong>Q. 상경계열이 아닌 학생이 YIG 에 지원할 수 있나요?</strong>
			<p class="wrap">
A. YIG 에서 경영 경제 계열이 아니라는 것은 문제가 되지 않습니다. 더욱 중요한 것은 금융업에 대한 열정, 그리고 YIG 에서 팀의 일원으로서 성장하겠다는 목표입니다. 아울러 YIG 에서는 신입 회원 전체를 위한 기본적인 교육 프로그램을 제공하고 있으며, 다양한 스터디를 구성해 회원들의 성장을 돕고 있습니다.
			</p>
			<strong>Q. YIG 회원이 되기 위해 무엇을 준비해야 하나요?</strong>
			<p class="wrap">
A. YIG 에서는 서류와 면접 전형을 통해 지원자 여러분들이 금융에 얼마나 관심이 있는지, 어느 정도의 분석 능력을 갖추고 있는지를 보고자 합니다. 지원 서류 작성, 또는 면접을 보기 전에 금융 관련 중요 뉴스나 증권사들의 개별 기업 리서치 보고서를 참고하시면 도움이 될 것입니다.
			</p>
			<strong>Q. 자격증이 없어도 괜찮은가요?</strong>
			<p class="wrap">
A. 저희가 중요하게 생각하는 것은 학회 활동에 대한 열정입니다. 단 회계 관련 자격증 등 기업 분석에 확실한 효과가 있을 것으로 예상된다면 가점이 있을 것입니다.
			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}