{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Activity</span> 
			</div>
			<br />
			<br />
			<strong>기업 분석</strong>
			<p class="wrap">
YIG 에서는 주기적으로 투자할 기업을 골라 해당 기업에 대한 분석 보고서를 작성합니다. 선정한 기업의 사업 내용, 영위하는 산업에 대한 분석, 투자 대상으로의 가치 부각 포인트, 가치 부각을 막는 약점, 기업가치 평가가 보고서의 주된 내용입니다. 그리고 정규 세션 때 기업에 대한 15 분 가량의 발표를 진행합니다. 기업 발표가 끝나면 Q&A 와 함께 학회원들의 투표를 통하여 펀드 유니버스 편입 여부가 결정됩니다. 즉 학회원 모두는 심봤다 펀드의 종목 선정에 영향을 미치게 됩니다.
			</p>
			<strong>펀드 운용</strong>
			<p class="wrap">
YIG 에는 운용 방식이 다른 총 3 개의 메인 펀드와 2 개의 서브 펀드가 있습니다. 각 펀드 별로 팀이 나뉘어져 있으며, 모든 학회원은 각 팀에 돌아가면서 참여하여 펀드 운용을 경험해 볼 수 있습니다. 

YIG 는 현재 심봤다 A 형, 심봤다 B 형, 심봤다 V 형 총 3 개의 공식 펀드를 운용하고 있습니다. 심봤다 A 형 펀드는 피터 린치의 마젤란 펀드를 벤치마크로 하여 이익의 성장을 가장 중요시하되, 성장성과 내재가치 대비 저평가된 많은 기업에 장기간 분산 투자를 실시합니다. 이를 바탕으로 안정적이고 시장을 이기는 수익률을 추구합니다. 심봤다 B 형 펀드는 빌 나이그렌의 “오크마크 셀렉트 펀드”를 벤치 마크하여 유니버스로 보유하고 있는 종목들 중에서 성장성이 강한 소수의 중형주를 골라 집중 투자하고 있습니다. 또한 지도교수인 장진호 교수님의 출자를 받아 설립된 심봤다 V 형 펀드는 중대형주 중 소수의 엄선된 종목 중심으로 투자하고 있습니다. 

YIG 에서 운용하는 펀드들은 모두 YIG 에서 가치투자를 위해 분석한 기업들을 유니버스로 하여 투자하고 있습니다. 학회원 모두의 참여를 통해 엄선된 다양한 종목이 다시 한 번 더 선별됨으로써 YIG 심봤다 펀드가 시장보다 outperform 할 수 있는 원동력이 됩니다.
			</p>
			<strong>타 대학 학회교류</strong>
			<p class="wrap">
YIG 는 매 학기 2 회 연합 리서치 대회에 참가합니다. 신입 회원간의 대회와 기존 회원들끼리의 대회가 나뉘어져 있어 신입 회원도 부담 없이 참여할 수 있습니다. 신입 회원들은 대회 준비 과정에서 기본적인 기업 분석, 증권 분석 소양을 함양하게 됩니다. 또한 대회를 통하여 서울대, 고려대, 서강대, 이화여대, 카이스트 등 타 대학의 투자학회들과  교류하여 친목을 다지고 있습니다.
			</p>
			<strong>MT 및 홈커밍데이</strong>
			<p class="wrap">
YIG 의 대표적인 친목 도모 활동으로는 MT 와 홈커밍 데이가 있습니다. MT 는 각 계절별로 1 회씩 진행되며, 봄/가을 엠티는 신입 회원 환영 엠티로 진행됩니다. 홈커밍 데이는 8 월 말과 12 월 말에 진행되어 선배 기수와 후배 기수가 즐겁게 교류할 수 있는 만남의 장이 되고 있습니다.
			</p>


			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}