*.DS_Store
*.pyc

/backup/

yighub.sqlite
yighub.log
/mywebsite/settings.py

/media/
/static/

*.sublime-project
*.sublime-workspace
*.sqlite
deploy.json
fabfile.py
mywebsite/mywebsite_nginx.conf
mywebsite/mywebsite_uwsgi.ini
mywebsite/settings-deploy.py
mywebsite/uwsgi_params

.idea
