@import "Wang_Bootstrap";

table, th, td{
    border-bottom: 1px solid #ddd;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
}

tr th:first-child {
    width: 50px;
    padding: 0;
  }

tr th:nth-child(3){
    width: 140px;
    padding: 0;
}

td{
    padding: 5px 0;
}

body{
    font-size: 1.2em;
}

@media (max-width: 399px) {
  tr th:nth-child(3) {
    width: 100px;
    padding: 0;
  }
}
