body {
    padding-top: 60px;
    /* padding-bottom: 40px; */
}

a{
	/*margin:0;*/
	text-decoration: None;
	background: transparent;
}

.sidebar-nav {
    padding: 9px 0;
}

footer {margin-top: 120px;

}

sidebar > li > a {
		disply:block;
		padding: 8px 14px;
		border: 1px solid #e5e5e5;}

.sidebar > li:first-child > a {
		border-radius: 6px 6px 0px 0px;
}

.sidebar > li:last-child > a {
		border-radius: 0px 0px 6px 6px;
}

.sidebar > li > a > i {
		float: right;
		opacity: 0.25;
}

.menubar > li > a {
		disply:block;
		padding: 8px 14px;
		border: 1px solid #e5e5e5;
}

.menubar > li:first-child > a {
		border-top-style: none;
}

.menubar > li:last-child > a {
		border-bottom-style: none;
}

.menubar > li > a > i {
		float: right;
		opacity: 0.25;
}

p {
		line-height: 25px;
}

@media (max-width: 980px) {
		/* Enable use of floated navbar text */
    .navbar-text.pull-right {
			float: none;
			padding-left: 5px;
			padding-right: 5px;}

    .container {
		  padding:0;
		  margin:0;
    }

    body {
		  padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		  margin-left: 0;
		  margin-right: 0;
		  margin-bottom:0;
    }
}

@media (min-width: 670px) {
    .creator-column {
	    	width: 50px;
    }

    .board-column {
	    	max-width: 120px;
    }

    .title-column {

    }

    .time-column {
	    	width: 80px;

    }
}

.top_nav_yig{
	font-size: 100px;
}

#top_nav_yig{
	font-size: 100px;
}

.top_header{
	width: 100%;
	position: fixed;
	z-index: 999;
	background-color: black;
}

.top_header .header-nav{
	float: left;
	width: 100%;
	height: 80px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 9999;
	top: 30px;
	position: fixed;
}

/* YIG 로고 및 글씨 */
.header-nav h1{
	float: left;
	margin-top: 0px;
	margin-left: 2.3vh;
	vertical-align: middle;
	top: 2.3vh;
	position: fixed;
}

.header-nav h1 a{
	color: red;
	font-size: 4.5vh;
	vertical-align: middle;
}

.Visitors_Top_Nav_Main{
	margin-left: 200px;
	vertical-align: middle;
	float: left;
}

.Visitors_Top_Nav_Main a:first-child{
	margin-left: 0;
}

.Visitors_Top_Nav_Main a {
    float: left;
	height: 80px;
	display: block;
	color: #f2f2f2;
    text-align: center;
    padding: 0px 20px;
	font-size: 3vh;
	width: auto;
	vertical-align: middle;
	box-sizing: border-box;
}

.Account a:first-child{
	color: white;
	font-size: 2.5vh;
	position: fixed;
	right: 35vh;
}

.Account a:nth-child(2){
	color: red;
	font-size: 2.5vh;
	position: fixed;
	top: 4vh;
	right: 9vh;
	padding: 0.5vh 1vh;
	border-style: solid;
	border-color: white;
	border-width: 0.1vh;
	border-radius: 15px;
	box-sizing: inherit;
}


.line{
	top: 79px;
	position: fixed;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255, 0.8);
}

