@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);

body{
    font-family: "맑은 고딕 Semilight", "sans-serif";
    font-size: 1.1em;
}

.text-right{
    text-align: right;
}

.text-info{
    text-align: center;
    color: rgba(158,20,43,1);
}