@import url(http://fonts.googleapis.com/earlyaccess/kopubbatang.css);

body{
    font-family: "KoPub바탕체";
}


.lead{
    font-size: 3vh;
    color: red;
}

.text-right{
    text-align: right;
}

.text-info{
    text-align: center;
    color: rgba(158,20,43,1);
}