ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul a{
    float: left;
    height: 100%;
    vertical-align: middle;
}

li{
    margin: 0;
    padding: 0;
}

ul li a{
    background-color: rgba(19,24,86,0.4);
}

nav{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub_visual{
    width: 100%;
    height: 25vh;
    background-image: url("https://yighub-bucket.s3.amazonaws.com/media/yighub/albums/2018/01/30/KakaoTalk_20180130_205853818.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sub_nav{
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 0;
}

.sub_nav nav{
    display: inline-block;
    width: 25vh;
    margin: 0;
    padding: 0;
    height: 8vh;
}

.sub_depth1{
    height: 100%;
    background-color: rgba(19,24,86,0.4);
    border-right: 1px solid white;
    text-align: center;
}

.sub_depth1 a{
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 3vh;
    color: white;
    margin: 0;
    line-height: 50px;
}

.sub_depth2{
    height: 100%;
    text-align: center;
    background-color: rgba(19,24,86,0.4);
    border-right: 1px solid white;
}

.sub_depth2 a:first-child{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 3vh;
    color: white;
    margin: 0;
    line-height: 50px;
}

#sub_depth1_drop{
    display: none;
    float:none;
    height: auto;
    border: none;
    border-bottom: 1px solid white;
}

#sub_depth2_drop{
    display: none;
    float:none;
    height: auto;
    border: none;
    border-bottom: 1px solid white;
}
