a{
	/*margin:0;*/
	text-decoration: None;
	background: transparent;
}

.top_header{
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    position: fixed;
    display: inline-block
}

.Main_nav{  
    display: inline-block;
}

.Main_nav img{
    position: relative;
    top: 2vh;
    left: 2vh;
}

.Main_nav a{
    color: red;
    font-size: 4vh;
    position: relative;
    left: 2.5vh;
}

.Others_nav a{
    position: relative;
    font-size: 3.5vh;
    left: 5vh;
    padding: 0 3vh;
    color: rgba(0, 0, 0, 0.75);
}

.Account_nav a{
    font-size: 2.5vh;
}

.Account_nav a:first-child{
    position: relative;
    left: 20vh;
    color: rgba(0, 0, 0, 0.75);
}

.Account_nav a:nth-child(2){
    position: relative;
    left: 23vh;
    color: red;
    border-style: solid;
    padding: 0.5vh 1vh;
	border-color: rgba(0,0,0,.75);
	border-width: 0.1vh;
	border-radius: 15px;
	
}


.line{
	top: 79px;
	position: fixed;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(255,255,255, 0.8);
}
