{% extends "yighub/base.html" %}
{% load staticfiles %}

{% block contents %}

<div class="text-center" style="margin:30px auto 50px auto">
	<h2>Albums</h2>
	<div class="container-fluid pull-right">
		<!-- <a href="{% url 'yighub:create_album' %}"> -->
			<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_album' %}'">새 앨범</button>
		<!-- </a> -->
	</div> 
</div>
<br />
{% if albums %}

{% for a in albums %}
{% cycle '<div class="row-fluid" style="margin-bottom:50px;">' '' '' '' %}
	<div class="span3 text-center" style="margin-left:12px">
		<a href="{% url 'yighub:photos' a.album.id %}">
			
			<div style="height:160px;">
				{% if a.thumbnail %}
				<img src="{{ a.thumbnail.photo.url }}" style="max-width:200px; max-height:150px;" />
				{% else %}
				<img src="{% static 'yighub/images/main.jpg' %}" style="max-width:200px; max-height:150px;" />
				{% endif %}
			</div>
			<h4 class="text-center">{{ a.album.name }}</h4>
		</a>
		{% if a.album.event_time %}
		<span class="muted">{{ a.album.event_time }}</span>
		{% endif %}
	</div>
{% cycle '' '' '' '</div>' %}
{% endfor %}
</div>

<div class="pagination text-center">
  <ul>
  	<!-- {% if page.first_page %} -->
    <!-- <li><a href="{% url 'yighub:albums' page.first_page %}">&laquo;</a></li> -->
    <!-- <li><a href="{% url 'yighub:albums' page.prev_page %}">&lsaquo;</a></li> -->
    <!-- {% endif %} -->
    {% for p in page.page_list %}
	    {% if p == page.current_page %}
	    <li class="active">
	    {% else %}
	    <li>
	    {% endif %}
	    	<a href="{% url 'yighub:albums' p %}">{{ p }}</a>
	    </li>
    {% endfor %}
    {% if page.last_page %}
    <!-- <li><a href="{% url 'yighub:albums' page.next_page %}">&rsaquo;</a></li> -->
    <li class="visible-desktop"><a href="{% url 'yighub:albums' page.last_page %}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>

<div class="container-fluid pull-right">
	<form action="{% url 'yighub:search_albums' 'keyword' 1 %}" method="post" class="form-search" >
		{% csrf_token %}
	  <input type="text" name="keyword" class="input-medium search-query" />
	  <button type="submit" class="btn">Search</button>
	</form>
</div>

{% else %}
<p> 아직 앨범이 없습니다. </p>
{% endif %}
{% endblock %}