<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>YIG &middot; Yonsei Investment Group</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Yonsei Investment Group">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="/static/yighub/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css' rel='stylesheet' type='text/css" />
	<link rel="shortcut icon" href="/static/yighub/images/yiglogo.png" />
	<style type="text/css">
	body {
		padding-top: 60px;
		/* padding-bottom: 40px; */
	}
	.sidebar-nav {
		padding: 9px 0;
	}

	footer {
		margin-top: 120px;
	}

	.sidebar > li > a {
		disply:block; 
		padding: 8px 14px; 
		border: 1px solid #e5e5e5;
	}
	.sidebar > li:first-child > a {
		border-radius: 6px 6px 0px 0px;
	}
	.sidebar > li:last-child > a {
		border-radius: 0px 0px 6px 6px;
	}
	.sidebar > li > a > i {
		float: right;
		opacity: 0.25;
	}

	.menubar > li > a {
		disply:block; 
		padding: 8px 14px; 
		border: 1px solid #e5e5e5;
	}
	.menubar > li:first-child > a {
		border-top-style: none;
	}
	.menubar > li:last-child > a {
		border-bottom-style: none;
	}
	.menubar > li > a > i {
		float: right;
		opacity: 0.25;
	}

	p {
		line-height: 25px;
	}
	
	@media (max-width: 980px) {
		/* Enable use of floated navbar text */
		.navbar-text.pull-right {
			float: none;
			padding-left: 5px;
			padding-right: 5px;
		}

		.container {
		  padding:0;
		  margin:0;
		}

		body {
		  padding:0;
		}

		.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		  margin-left: 0;
		  margin-right: 0;
		  margin-bottom:0;
		}

	}

	@media (min-width: 670px) {

	    .creator-column {
	    	width: 50px;
	    }

	    .board-column {
	    	max-width: 120px;
	    }

	    .title-column {

	    }

	    .time-column {
	    	width: 80px;

	    }
	}

	{% block style %}
	{% endblock %}

	</style>
	<link href="/static/yighub/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.js"></script>
	<![endif]-->

	<!-- Google Analystics 추적 코드 -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-45163537-1', 'yig.in');
	  ga('send', 'pageview');

	</script>
</head>

<body>


	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<img src="/static/yighub/images/yiglogo.png" class="pull-left" style="height:30px; width:30px; margin:5px 5px 0px 0px"/>
				<a class="brand" href="/">YIG</a>
				{% if user.name %}
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right">
						Logged in as <a href="{% url 'yighub:edit_profile' %}" class="navbar-link">{{ user.name }}</a>
						{% if user.level = 'mgr' %}
						<a href="/admin">&nbsp;Admin</a>
						{% endif %}
						<a href="{% url 'yighub:logout' %}">&nbsp;Logout</a>
					</p>
					<ul class="nav">
						<li class="dropdown visible-desktop">
							<a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}" class="dropdown-toggle" data-toggle="dropdown">
								Menu
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu menubar">
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}"><strong>About YIG</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Recr.id 0 %}"><strong>Recruiting</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Memb.id 0 %}"><strong>Member Profile</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.simA.id 0 %}"><strong>Fund</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Rese.id 0 %}"><strong>Research</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Cont.id 0 %}"><strong>Contact Us</strong><i class="icon-chevron-right"></i></a></li>
							</ul>
						</li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}">About YIG</a></li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Recr.id 0 %}">Recruiting</a></li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Memb.id 0 %}">Member Profile</a></li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.simA.id 0 %}">Fund</a></li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Rese.id 0 %}">Research</a></li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Cont.id 0 %}">Contact Us</a></li>

						<li><a href="{% url 'yighub:news' 'bulletin' 0 %}">Boards</a></li>
						<li><a href="{% url 'yighub:news' 'taskforce' 0 %}">Taskforce</a></li>
						<li><a href="{% url 'yighub:albums' 0 %}">Albums</a></li>
					</ul>
				</div><!--/.nav-collapse -->


				{% else %}
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown visible-desktop">
							<a class="dropdown-toggle" data-toggle="dropdown">
								About YIG
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu menubar">
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}"><strong>Introduction</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Visi.id 0 %}"><strong>Vision</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Acti.id 0 %}"><strong>Activity</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Hist.id 0 %}"><strong>History</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Clip.id 0 %}"><strong>Clipping</strong><i class="icon-chevron-right"></i></a></li>
							</ul>
						</li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}">About YIG</a></li>

						<li class="dropdown visible-desktop">
							<a class="dropdown-toggle" data-toggle="dropdown">
								Recruiting
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu menubar">
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Recr.id 0 %}"><strong>Recruiting</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Appl.id 0 %}"><strong>Apply</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Sche.id 0 %}"><strong>Schedule</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.FAQ.id 0 %}"><strong>FAQ</strong><i class="icon-chevron-right"></i></a></li>
							</ul>
						</li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Recr.id 0 %}">Recruiting</a></li>

						<li><a href="{% url 'yighub:listing' 'public' public_dict.Memb.id 0 %}">Member Profile</a></li>


						<li class="dropdown visible-desktop">
							<a class="dropdown-toggle" data-toggle="dropdown">
								Fund
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu menubar">
								<li><a href="{% url 'yighub:listing' 'public' public_dict.simA.id 0 %}"><strong>심봤다 A형</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.simB.id 0 %}"><strong>심봤다 B형</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.simV.id 0 %}"><strong>심봤다 V형</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.simH.id 0 %}"><strong>심봤다 H형</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Univ.id 0 %}"><strong>YIG Universe</strong><i class="icon-chevron-right"></i></a></li>
							</ul>
						</li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.simA.id 0 %}">Fund</a></li>
						<li><a href="{% url 'yighub:listing' 'public' public_dict.Rese.id 0 %}">Research</a></li>
						<li class="dropdown visible-desktop">
							<a class="dropdown-toggle" data-toggle="dropdown">
								Contact Us
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu menubar">
								<li><a href="{% url 'yighub:listing' 'public' public_dict.Cont.id 0 %}"><strong>Contact Us</strong><i class="icon-chevron-right"></i></a></li>
								<li><a href="{% url 'yighub:listing' 'public' public_dict.QnA.id 0 %}"><strong>Q/A</strong><i class="icon-chevron-right"></i></a></li>
							</ul>
						</li>
						<li class="hidden-desktop"><a href="{% url 'yighub:listing' 'public' public_dict.Cont.id 0 %}">Contact Us</a></li>

					</ul>
				</div><!--/.nav-collapse -->
				<div class="container-fluid pull-right">
					<!-- to support IE -->
					<!-- <a href="{% url 'yighub:login' %}"> --> 
						<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:login' %}'">로그인</button>
					<!-- </a> -->
					<!-- <a href="{% url 'yighub:join' %}"> -->
						<button type="button" class="btn" onclick="location.href = '{% url 'yighub:join' %}'">회원가입</button>
					<!-- </a> -->
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			{% block sidebar %}
			{% endblock %}

			{% block contents %}
			{% endblock %}
		</div><!--/.row-->
		<footer>
			<div class="container">
				<p class="text-center muted">Yonsei Investment Group</p>
			</div>
		</footer>

	</div><!--/.fluid-container-->


<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/static/yighub/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
