{% extends "yighub/base.html" %}

{% block style %}
	.upload-photo {
	max-width: 680px; 
	margin-left: 200px; 
	margin-right: 200px;
}
{% endblock %}

{% block contents %}

<div class="text-center" style="margin:25px auto 0px auto">
	<h2>{{ album.name }}</h2>
	<h3>사진 올리기</h3>
</div>

<div class="span2"></div>
<div class="span8" style="margin-left:auto; margin-right:auto;">
	<form action="{% url 'yighub:create_photos' album.id %}" enctype = "multipart/form-data" method = "post">
		{% csrf_token %}
		<input id="size" type="hidden" name="size" value="3" />
		<div id="upload_photos">
			<hr />
			<div class="container-fluid upload-photo">
				
				<label>사진</label>
				<input type="file" name="photo_0" />

				<br />
				<br />
				<label>설명</label>
				<textarea class="span12" name="description_0" rows="5" placeholder="사진 설명을 해주세요"></textarea>
				
			</div>

			<hr />
			<div class="container-fluid upload-photo">
				
				<label>사진</label>
				<input type="file" name="photo_1" />

				<br />
				<br />
				<label>설명</label>
				<textarea class="span12" name="description_1" rows="5" placeholder="사진 설명을 해주세요"></textarea>
				
			</div>

			<hr />
			<div class="container-fluid upload-photo">
				
				<label>사진</label>
				<input type="file" name="photo_2" />

				<br />
				<br />
				<label>설명</label>
				<textarea class="span12" name="description_2" rows="5" placeholder="사진 설명을 해주세요"></textarea>
				
			</div>
		</div>
		<script>
		function add_photos() {
			photos = document.getElementById("upload_photos");
			size = Number(document.getElementById("size").value);

			hr = document.createElement("hr");
			photos.appendChild(hr);

			new_photo = document.createElement("div");
			new_photo.setAttribute("class", "container-fluid upload-photo");

			photo_label = document.createElement("label");
			photo_label.innerHTML = "사진";
			new_photo.appendChild(photo_label);

			input = document.createElement("input");
			input.type = "file";
			input.name = "photo_" + size;
			new_photo.appendChild(input);

			br1 = document.createElement("br");
			new_photo.appendChild(br1);
			br2 = document.createElement("br");
			new_photo.appendChild(br2);


			description_label = document.createElement("label");
			description_label.innerHTML = "설명";
			new_photo.appendChild(description_label);

			textarea = document.createElement("textarea");
			textarea.setAttribute("class", "span12");
			textarea.name = "description_" + size;
			textarea.rows = 5;
			textarea.placeholder = "사진 설명을 해주세요";
			new_photo.appendChild(textarea);

			photos.appendChild(new_photo);

			document.getElementById("size").value = size + 1;
		}
		</script>

		<hr />
		<div class="text-center">
			<a onclick="add_photos()">사진 추가</a>
		</div>
		<br />

		<div class="form-actions text-center">
			<button type="submit" class="btn btn-primary">올리기</button>
			<button type="button" class="btn" onclick="location.href = '{% url 'yighub:photos' album.id %}'">취소</button>
		</div>
	</form>

</div>
<div class="span2"></div>



{% endblock %}