{% extends "yighub/extends/TopBar_for_member.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'yighub/CSS/sub_bar_visitor.css' %}" />
    <style>
    a:hover{
        text-decoration: underline;
    }

    .title{
        width: 100%;
        box-sizing: border-box;
    }

    .content{
        width: 100%;
        box-sizing: border-box;
    }

    .delete{
        color: rgb(229, 9, 20);
        font-size: 12px;
    }

    #drop_zone {
      border: 3px dotted royalblue;
      border-radius: 12px;
      width:  100%;
      height: 100px;
      text-align: center;
      font-size: 24px;
    }

    </style>
{% endblock %}
{% block contents %}
<section class="sub_bar">
    <div>
        <ul class="sub_depth1">
            <li class="clearfix"><a href="{% url 'yighub:home_for_member' %}">Home</a></li>
            <ul class="sub_depth1_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Public</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Boards_News' 0 %}">Boards</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Taskforce_News' 0 %}">Taskforce</a></li>
                <li id="current" class="clearfix"><a href="{% url 'yighub:albums' 0 %}">Albums</a></li>
            </ul>
        </ul>
        <!--//sub_depth1-->
    </div>
</section>
<section class="contents">
	<div class="container">
        <article class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<form action = {% if board_id %} "{% url 'yighub:create_in_board' board board_id %}" {% else %} "{% url 'yighub:create' board %}" {% endif %} enctype = "multipart/form-data" method = "post">
				<!-- 이렇게 구현하긴 했지만 솔직히 in board인지 아닌지 올 때나 상관있지 form action에선 어디로 가나 똑같을 듯 -->
				{% csrf_token %}
				<fieldset>
					<label>게시판 선택</label>
					{{ form.board.errors }}
					{{ form.board }}
					<br />
					{{ form.title.errors }}
					<input name="title" type="text" class="title" maxlength="50" placeholder="여기에 제목을 입력하세요" {% if form.title.value %} value="{{ form.title.value }}" {% endif %}>
					<br />
					{{ form.content.errors }}
					<textarea name="content" rows="20" class="content" placeholder="여기에 내용을 입력하세요">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
					<br />
					<label>썸네일</label>
					<a style="color: rgb(229, 9, 20); font-size: 12px;"   onclick="add_thumbnail()">썸네일 추가</a>
					<div id="upload_thumbnails">
						<input type = 'file' name = 'thumbnails' />
						<br />
					</div>
					<br />
                    <label>파일 업로드</label>
                    <a style="color: rgb(229, 9, 20); font-size: 12px;" onclick="add_file()"> 파일 추가 </a>

                    <div id="upload_files">
                        <div class="file">
                            <input class="fileInput" type = 'file' name = 'files' /><a class="delete">(이 파일 삭제)</a>
                        </div>
					</div>

                    <div id="drop_zone" ondrop="dropHandler(event);"  ondragover="dragOverHandler(event);">
                      <p>Drop the file!</p>
                    </div>
					<div class="form-actions text-center">
						<button type="submit" class="btn btn-primary">올리기</button>
						&nbsp;
						<!-- <a href=""> -->
						{% if current_board %}
							<button type="button" class="btn" onclick="location.href = '{% url 'yighub:listing' board current_board.id 0 %}'">취소</button>
						{% else %}
							<button type="button" class="btn" onclick="location.href = '{% url 'yighub:home' %}'">취소</button>
						{% endif %}
						<!-- </a> -->
					</div>
				</fieldset>
			</form>
		</article>
	</div><!--/span-->
</section>
    <!--//contents-->
{% endblock %}
{% block script %}
    <script src="{% static 'yighub/JS/create.js' %}"></script>
{% endblock %}
