{% extends "yighub/simple.html" %}

{% block contents %}
    <div class="container">

      <form class="form-signin" action="{% url 'yighub:create_taskforce' %}", method = "post">
      	{% csrf_token %}
        <h2 class="form-signin-heading">Taskforce 만들기</h2>
        <br />
        {{ form.name.errors }}
        <input type="text" class="input-block-level" placeholder="taskforce name" name="name" />
        <br />
        <br />
        <button class="btn btn-large btn-primary" type="submit">만들기</button>
      </form>

    </div> <!-- /container -->
{% endblock %}