{% extends "yighub/sidebar.html" %}

{% block contents %}
	<div class="span9">
		<br />	<br />
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<form action = {% if board_id %} "{% url 'yighub:create_in_board' board board_id %}" {% else %} "{% url 'yighub:create' board %}" {% endif %} enctype = "multipart/form-data" method = "post">
				<!-- 이렇게 구현하긴 했지만 솔직히 in board인지 아닌지 올 때나 상관있지 form action에선 어디로 가나 똑같을 듯 -->
				{% csrf_token %}
				<fieldset>
					<label>게시판 선택</label>
					{{ form.board.errors }}
					{{ form.board }}
					<br />
					<br />
					{{ form.title.errors }}
					<input name="title" type="text" class="span12" maxlength="50" placeholder="여기에 제목을 입력하세요" {% if form.title.value %} value="{{ form.title.value }}" {% endif %}>
					<br />
					{{ form.content.errors }}
					<textarea name="content" rows="20" class="span12" placeholder="여기에 내용을 입력하세요">{% if form.content.value %}{{ form.content.value }}{% endif %}</textarea>
					<br />
					<br />
					<script>
					function add_thumbnail() {
						thumbnails = document.getElementById("upload_thumbnails");
						new_thumbnail = document.createElement("input");
						new_thumbnail.setAttribute("type", "file");
						new_thumbnail.setAttribute("name", "thumbnails");
						thumbnails.appendChild(new_thumbnail);

						new_line = document.createElement("br");
						thumbnails.appendChild(new_line);
					}
					function add_file() {
						files = document.getElementById("upload_files");
						new_file = document.createElement("input");
						new_file.setAttribute("type", "file");
						new_file.setAttribute("name", "files");
						files.appendChild(new_file);

						new_line = document.createElement("br");
						files.appendChild(new_line);
					}
					</script>

					<label>썸네일</label>
					<div id="upload_thumbnails">
						<input type = 'file' name = 'thumbnails' />
						<br />
					</div>
					<br />
					<a onclick="add_thumbnail()">썸네일 추가</a>

					<br />
					<br />
					<br />
					<label>파일 업로드</label>
					<div id="upload_files">
						<input type = 'file' name = 'files' />
						<br />
						<input type = 'file' name = 'files' />
						<br />
						<input type = 'file' name = 'files' />
						<br />
					</div>
					<br />
					<a onclick="add_file()">파일 추가</a>
					<div class="form-actions text-center">
						<button type="submit" class="btn btn-primary">올리기</button>
						&nbsp;
						<!-- <a href=""> -->
							<button type="button" class="btn" onclick="location.href = '{% url 'yighub:listing' board current_board 0 %}'">취소</button>
						<!-- </a> -->
					</div>
				</fieldset>
			</form>
		</div>
	</div><!--/span-->	
{% endblock %}
