{% extends 'yighub/extends/TopBar_for_member.html' %}
{% load staticfiles %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'yighub/CSS/sub_bar_visitor.css' %}"/>
    <link rel="stylesheet" href="{% static 'yighub/CSS/member_albums.css' %}"/>
    <style>
    .profile{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        max-width: 760px;
    }

    .profile form {
        max-width: 500px;
        padding: 19px 29px 29px 29px;
        margin: 0;
        background-color:white; border: 1px solid #e5e5e5; border-radius:5px;
        box-sizing: border-box;
    }

    @media (max-width: 540px){
        .profile form{
            padding: 0;
        }
    }

    @media (max-width: 495px){
        .profile{
            width: 100%;
        }
    }
    </style>
{% endblock %}
{% block contents %}
<section class="sub_bar">
    <div>
        <ul class="sub_depth1">
            <li id="current" class="clearfix"><a href="#">Home</a></li>
            <ul class="sub_depth1_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Public</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Taskforce_News' 0 %}">Taskforce</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Boards_News' 0 %}">Boards</a></li>
                <li class="clearfix"><a href="{% url 'yighub:albums' 0 %}">Albums</a></li>
            </ul>
        </ul>
        <!--//sub_depth1-->
    </div>
</section>
    <!--//sub_bar-->
<section class="profile" style="margin-top: 30px; margin-bottom: 30px;" >
    <form class="form-horizontal" action="{% if not first_login %}{% url 'yighub:edit_profile' %}{% else %}{% url 'yighub:first_login' %}{% endif %}" enctype = "multipart/form-data" method = "post">
        {% csrf_token %}
      {% if first_login %}
      <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>환영합니다!</h4>
        <br />
        안녕하세요 {{ user.name }}님! YIG의 새로운 웹사이트에 처음 오신 것을 환영합니다.
        <br /><br />
        새 웹사이트를 위해 회원 정보를 업데이트해주세요!!
      </div>
      {% endif %}
      <h2 class="form-signin-heading text-center">프로필 수정</h2>
      <br />
      {% if messages %}
      <ul class = "messages">
      {% for message in messages %}
      <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {{ form.password.errors }}
      {% if not first_login %}
      <div class="control-group">
        <label class="control-label" for="{{ form.password.label }}">기존 비밀번호</label>
        <div class="controls">
          <input type="password" name="password" maxlength="200" id="{{ form.password.label }}" placeholder="password" />
          <br />
          <span class="text-info">비밀번호를 한번 더 입력해주세요.</span>
        </div>
      </div>
      <br />
      <div class="control-group">
        <label class="control-label" for="new_password">새 비밀번호</label>
        <div class="controls">
          <input type="password" name="new_password" maxlength="200" id="new_password" placeholder="new password" {% if form.new_password.value %} value="{{ form.new_password.value }}" {% endif %} />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password_check">비밀번호 확인</label>
        <div class="controls">
          <input type="password" name="password_check" maxlength="200" id="password_check" placeholder="new password" />
        </div>
      </div>
      {% else %}
      <div class="control-group">
        <label class="control-label" for="password">비밀번호</label>
        <div class="controls">
          <input type="password" name="password" maxlength="200" id="password" placeholder="password" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password_check">비밀번호 확인</label>
        <div class="controls">
          <input type="password" name="password_check" maxlength="200" id="password_check" placeholder="password" />
        </div>
      </div>
      {% endif %}

      {{ form.user_id.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.user_id.label }}">아이디</label>
        <div class="controls">
          <input type="text" name="user_id" maxlength="30" id="{{ form.user_id.label }}" placeholder="id" {% if form.user_id.value %} value="{{ form.user_id.value }}" {% endif %} />
        </div>
      </div>
      {{ form.name.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.name.label }}">이름</label>
        <div class="controls">
          <input type="text" name="name" maxlength="30" id="{{ form.name.label }}" placeholder="홍길동" {% if form.name.value %} value="{{ form.name.value }}" {% endif %} />
        </div>
      </div>
      {{ form.birthday.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.birthday.label }}">생년월일</label>
        <div class="controls">
          <input type="text" name="birthday" id="{{ form.birthday.label }}" placeholder="1991-06-24" {% if form.birthday.value %} value="{{ form.birthday.value }}" {% endif %} />
        </div>
      </div>
      {{ form.email.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.email.label }}">이메일</label>
        <div class="controls">
          <input type="text" name="email" maxlength="75" id="{{ form.email.label }}" placeholder="email@gmail.com" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} />
        </div>
      </div>
      {{ form.sns.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.sns.label }}">SNS 계정</label>
        <div class="controls">
          <input type="text" name="sns" maxlength="200" id="{{ form.sns.label }}" placeholder="페이스북, 네이트온, 미쓰리 등" {% if form.sns.value %} value="{{ form.sns.value }}" {% endif %} />
        </div>
      </div>
      {{ form.phone_number.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.phone_number.label }}">전화번호</label>
        <div class="controls">
          <input type="text" name="phone_number" id="{{ form.phone_number.label }}" placeholder="010-1234-1234" {% if form.phone_number.value %} value="{{ form.phone_number.value }}" {% endif %} />
        </div>
      </div>
      {{ form.career1.errors }}
      {{ form.career2.errors }}
      {{ form.career3.errors }}
      {{ form.career4.errors }}
      {{ form.career5.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.career1.label }}">경력사항</label>
        <div class="controls">
          <input type="text" name="career1" maxlength="200" id="{{ form.career1.label }}" placeholder="OO학과 OO학번" {% if form.career1.value %} value="{{ form.career1.value }}" {% endif %} />
          <input type="text" name="career2" maxlength="200" id="{{ form.career2.label }}" placeholder="" {% if form.career2.value %} value="{{ form.career2.value }}" {% endif %} />
          <input type="text" name="career3" maxlength="200" id="{{ form.career3.label }}" placeholder="" {% if form.career3.value %} value="{{ form.career3.value }}" {% endif %} />
          <input type="text" name="career4" maxlength="200" id="{{ form.career4.label }}" placeholder="" {% if form.career4.value %} value="{{ form.career4.value }}" {% endif %} />
          <input type="text" name="career5" maxlength="200" id="{{ form.career5.label }}" placeholder="" {% if form.career5.value %} value="{{ form.career5.value }}" {% endif %} />
        </div>
      </div>
      {{ form.self_introduction.errors }}
      <div class="control-group" style="width: 100%; overflow: hidden">
        <label class="control-label" for="{{ form.self_introduction.label }}">자기소개</label>
        <div class="controls">
          <textarea style="width: 80%;" cols="40" id="{{ form.self_introduction.label }}" name="self_introduction" rows="10" placeholder="자기소개를 해주세요">{{ form.self_introduction.value }}</textarea>
        </div>
      </div>
      {{ form.profile.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.profile.label }}">프로필 사진</label>
        {% if user.profile %}
        <img src="{{ user.profile.url }}" style="width:100%; max-width:220px; margin:20px;" />
        {% endif %}
        <div class="controls">
          <input id="{{ form.profile.label }}" name="profile" type="file">
        </div>
      </div>
      {{ form.avatar.errors }}
      <div class="control-group">
        <label class="control-label" for="{{ form.avatar.label }}">아바타</label>
        {% if user.avatar %}
        <img src="{{ user.avatar.url }}" style="width:100%; max-width:220px; margin:20px;" />
        {% endif %}
        <div class="controls">
          <input id="{{ form.avatar.label }}" name="avatar" type="file">
        </div>
      </div>
      <br />
      <br />
      <p class="text-center muted">경력사항과 프로필 사진은 Member Profile에 표시됩니다.</p>
      <br />
      <br />
      <div class="text-center">
        <button class="btn btn-large btn-primary" type="submit">수정하기</button>
      </div>
      <br />
    </form>
</section>
 <!-- /container -->
{% endblock %}
