{% extends "yighub/base.html" %}

{% block navbar %}
<div class="nav-collapse collapse">
  <ul class="nav">
    <li><a href="#board">About YIG</a></li>
    <li><a href="#board">Recruiting</a></li>
    <li><a href="#board">Member Profile</a></li>
    <li><a href="#board">Fund</a></li>
    <li><a href="#board">Research</a></li>
    <li><a href="#board">Contact Us</a></li>
  </ul>
</div><!--/.nav-collapse -->
<div class="container-fluid pull-right">
  <a href="{% url 'yighub:login' %}">
  	<button type="button" class="btn btn-primary">로그인</button>
  </a>
  <a href="{% url 'yighub:join' %}"><button type="button" class="btn">회원가입</button></a>
</div>
{% endblock %}

{% block contents %}
{% endblock %}