{% extends "yighub/base.html" %}

{% block navbar %}
<div class="nav-collapse collapse">
	<p class="navbar-text pull-right">
		Logged in as <a href="#" class="navbar-link">{{ user.name }}</a>
	</p>
	<ul class="nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Menus <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#">About YIG</a></li>
				<li><a href="#">Recruiting</a></li>
				<li><a href="#">Member Profile</a></li>
				<li><a href="#">Fund</a></li>
				<li><a href="#">Research</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</li>
		<li><a href="#board">Board</a></li>
	</ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block contents %}
{% endblock %}


<!--
{% if user.profile %}
<img src = '{{ user.profile.url }}' height = '150' width = '100' />
{% endif %}
-->