{% extends 'yighub/extends/TopBar_for_member.html' %}
{% load staticfiles %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'yighub/CSS/home_for_member.css' %}"/>
{% endblock %}
{% block contents %}
<section class="sub_bar">
    <div>
        <ul class="sub_depth1" lang="en">
            <li id="current" class="clearfix"><a href="#">Home</a></li>
            <ul class="sub_depth1_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Public</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Taskforce_News' 0 %}">Taskforce</a></li>
                <li class="clearfix"><a href="{% url 'yighub:member_Boards_News' 0 %}">Boards</a></li>
                <li class="clearfix"><a href="{% url 'yighub:albums' 0 %}">Albums</a></li>
            </ul>
        </ul>
        <!--//sub_depth1-->
    </div>
</section>
    <!--//sub_bar-->
<section id="contents" class="clearfix">
	<div class="container clearfix">
        <section class="real_time"></section>
        <section class="search" lang="en">
            <form action="{% url 'yighub:search' 0 'keyword' 1 %}" method="post" class="form-search" />
                {% csrf_token %}
                <input type="text" name="keyword" class="input-medium search-query" />
                <button type="submit" class="btn">Search</button>
            </form>
        </section>
    <!--//search-->
        <section class="Taskforce_news">
            <div class="lead_write">
                <span id="lead" lang="en">Taskforce News</span>
                <a href="{% url 'yighub:create' 'taskforce' %}">
                    <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create' 'taskforce' %}'">Taskforce에 글쓰기</button>
                </a>
            </div>
        <!--lead_write-->
            <br/>
            {% if taskforce_news %}
                <table class="table">
                    <thead>
                        <tr class="info">
                            <th> 글쓴이 </th>
                            <th> 게시판 </th>
                            <th> 제목 </th>
                            <th> 등록일 </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in taskforce_news %}
                        <tr>
                            <td class="creator-column"> {{ entry.creator }} </td>
                            <td class="board-column"> {{ entry.board.name|truncatechars:12 }} </td>
                            <td class="title-column">
                                {% for i in entry.range %} ↳ {% endfor %}
                                <a href="{% url 'yighub:read' entry.board_type entry.id %}">{{ entry.title|truncatechars:30 }}
                                    {% if not entry.count_comment == 0 %}
                                    <span class="badge badge-info">{{ entry.count_comment }}</span>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br/>
                <p class="text-center"><a href="{% url 'yighub:member_Taskforce_News' 0 %}">뉴스 더보기</a></p>
            {% else %}
            <div class="container-fruid text-center">
                <p> 아직 글이 존재하지 않습니다. </p>
            </div>
            {% endif %}
        </section>
    <!--//Taskforce_news-->
        <section class="Boards_news">
            <div class="lead_write">
                <span id="lead" lang="en">Boards News</span>
                <a href="{% url 'yighub:create' 'bulletin' %}">
                    <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create' 'bulletin' %}'">Boards에 글쓰기</button>
                </a>
            </div>
        <!--lead_write-->
            <br/>
            {% if  boards_news %}
                <table class="table">
                    <thead>
                        <tr class="info">
                            <th> 글쓴이 </th>
                            <th> 게시판 </th>
                            <th> 제목 </th>
                            <th> 등록일 </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in boards_news %}
                        <tr>
                            <td class="creator-column"> {{ entry.creator }} </td>
                            <td class="board-column"> {{ entry.board.name|truncatechars:12 }} </td>
                            <td class="title-column">
                                {% for i in entry.range %} ↳ {% endfor %}
                                <a href="{% url 'yighub:read' entry.board_type entry.id %}">{{ entry.title|truncatechars:30 }}
                                    {% if not entry.count_comment == 0 %}
                                    <span class="badge badge-info">{{ entry.count_comment }}</span>
                                    {% endif %}
                                </a>
                            </td>
                            <td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br/>
                <p class="text-center"><a href="{% url 'yighub:member_Boards_News' 0 %}">뉴스 더보기</a></p>
            {% else %}
            <div class="container-fruid text-center">
                <p> 아직 글이 존재하지 않습니다. </p>
            </div>
            {% endif %}
        </section>
    </div>
    <!--//container-->
</section>
<!--//contents-->
{% endblock %}
{% block script %}
    <script src="{% static 'yighub/JS/home_for_member.js' %}"></script>
{% endblock %}


{#</div><!--/span-->	#}
{#<!-- <a class='inline' href="#inline_content"></a> -->#}
{#{% endblock %}#}
{#<!--#}
{#<h2>최신글 보기</h2>#}
{#{% if page.entry_list %}#}
{#<ul>#}
{#{% for entry in news %}#}
{#{% for i in entry.range %}#}
{#<ul>#}
{#{% endfor %}#}
{#<li><a href = '/yighub/entry/{{ entry.id }}/'>{{ entry.title }}</a></li> {# 여러 정보 표시할 것#}
{#{% for i in entry.range %}#}
{#</ul>#}
{#{% endfor %}#}
{##}
{#{% endfor %}#}
{#</ul>#}
{#{% else %}#}
{#<p> No entry is available. </p>#}
{#{% endif %}#}
{#<h2>최신글 더보기</h2>#}
{#<p><a href = '/yighub/board/0/page/1'>최신글 페이지</a></p>#}
{#<br />#}
{#<h2>한줄게시판</h2>#}
{#{% for m in memos.entry_list %}#}
{#<p>{{ m.creator }} : {{ m.memo }} - {{ m.time_created }}</p>#}
{#{% endfor %}#}
{#<br />#}
{#{% if memos.first_page %}#}
{#<br />#}
{#<a href = '/yighub/home/page/{{ memos.first_page }}/'>first_page</a>#}
{#<a href = '/yighub/home/page/{{ memos.prev_page }}/'>prev_page</a>#}
{#{% endif %}#}
{#{% for p in memos.page_list %}#}
{#<a href = '/yighub/home/page/{{ p }}/'>{{ p }}</a>#}
{#{% endfor %}#}
{#{% if page.last_page %}#}
{#<a href = '/yighub/home/page/{{ memos.next_page }}/'>next_page</a>#}
{#<a href = '/yighub/home/page/{{ memos.last_page }}/'>last_page</a>#}
{#{% endif %}#}
{#<h2>메모 쓰기</h2>#}
{#<form action = '/yighub/memo/create/' method = 'post'>#}
{#{% csrf_token %}#}
{#<input type = 'text' name = 'memo' />#}
{#<input type = 'submit' value = '메모 작성' />#}
{#</form>#}
{#<a href = '/yighub/entry/create/'>글쓰기</a>#}
{##}
{#<br />#}
{#<a href = '/yighub/logout/'>로그아웃</a>#}
{##}
