{% extends "yighub/base.html" %}

{% block style %}
body {
	padding-top: 40px
}
div.container-fluid {
	padding: 0px
}
{% endblock %}

{% block contents %}

      <!-- Begin page content -->
      <img src="/static/yighub/images/main.jpg" style="height:30%; width:100%;" />

      <div class="text-center" style="margin-top:50px;">
		<a href="/static/yighub/YIG%20%EC%9E%85%ED%9A%8C%20%EC%A7%80%EC%9B%90%EC%84%9C.doc">지원서 다운로드</a>
		<h4>2016YIG@gmail.com 으로 제출</h4>
	  </div>
	  
	<!-- <a class='inline' href="#inline_content"></a> -->
{% endblock %}