{% extends "yighub/for_member.html" %}

{% block contents %}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Sidebar</li>
          <li class="active"><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li class="nav-header">Sidebar</li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

	<div class="span9">
		{% if page.entry_list %}
	  <table class="table">
	    <thead>
	      <tr>
	        <td>
	          글쓴이
	        </td>
	        <td>
	          제목
	        </td>
	        <td>
	          등록일
	        </td>
	      </tr>
	    </thead>
	    <tbody>
	      {% for entry in news %}
	      <tr>
	        <td>
	          {{ entry.creator }}
	        </td>
	        <td>
	          <a href="{% url 'yighub:read' entry.id %}">{{ entry.title }} [{{ entry.count_comment }}]</a>
	        </td>
	        <td>
	          {{ entry.time_created }}
	        </td>
	      </tr>
	      {% endfor %}
	    </tbody>
	  </table>
	</ul>
	{% else %}
	<p> No entry is available. </p>
	{% endif %}
	</div>
{% endblock %}

<!--
<h2>최신글 보기</h2>
{% if page.entry_list %}
<ul>
{% for entry in news %}
{% for i in entry.range %}
<ul>
{% endfor %}
<li><a href = '/yighub/entry/{{ entry.id }}/'>{{ entry.title }}</a></li> {# 여러 정보 표시할 것#}
{% for i in entry.range %}
</ul>
{% endfor %}

{% endfor %}
</ul>
{% else %}
<p> No entry is available. </p>
{% endif %}
<h2>최신글 더보기</h2>
<p><a href = '/yighub/board/0/page/1'>최신글 페이지</a></p>
<br />
<h2>한줄게시판</h2>
{% for m in memos.entry_list %}
<p>{{ m.creator }} : {{ m.memo }} - {{ m.time_created }}</p>
{% endfor %}
<br />
{% if memos.first_page %}
<br />
<a href = '/yighub/home/page/{{ memos.first_page }}/'>first_page</a>
<a href = '/yighub/home/page/{{ memos.prev_page }}/'>prev_page</a>
{% endif %}
{% for p in memos.page_list %}
<a href = '/yighub/home/page/{{ p }}/'>{{ p }}</a>
{% endfor %}
{% if page.last_page %}
<a href = '/yighub/home/page/{{ memos.next_page }}/'>next_page</a>
<a href = '/yighub/home/page/{{ memos.last_page }}/'>last_page</a>
{% endif %}
<h2>메모 쓰기</h2>
<form action = '/yighub/memo/create/' method = 'post'>
{% csrf_token %}
<input type = 'text' name = 'memo' />
<input type = 'submit' value = '메모 작성' />
</form>
<a href = '/yighub/entry/create/'>글쓰기</a>

<br />
<a href = '/yighub/logout/'>로그아웃</a>

