{% extends "yighub/sidebar.html" %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">{{ current_board.name }}</span>
				<div class="container-fluid pull-right">
					<a href="{% url 'yighub:create_in_board' board current_board.id %}">
						<button type="button" class="btn btn-primary">글쓰기</button>
					</a>
				</div> 
			</div>
			<br />
			{% if page.entry_list %}
			<table class="table">
				<thead>
					<tr class="info">
						<th> 글쓴이 </th>
						<th> 제목 </th>
						<th> 등록일 </th>
					</tr>
				</thead>
				<tbody>
					{% for entry in page.entry_list %}
					<tr>
						<td style="min-width: 50px;"> {{ entry.creator }} </td>
						<td style="min-width: 400px;">
							{% for i in entry.range %} ↳ {% endfor %}
							<a href="{% url 'yighub:read' board entry.id %}"> {{ entry.title|truncatechars:38 }}
								<span class="badge badge-info">{{ entry.count_comment }}</span>
							</a>
						</td>
						<td style="min-width: 150px;"> {{ entry.time_created }} </td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			<br />
			<div class="pagination text-center">
			  <ul>
			  	{% if page.first_page %}
			    <li><a href="{% url 'yighub:listing' board current_board.id page.first_page %}">&laquo;</a></li>
			    <li><a href="{% url 'yighub:listing' board current_board.id page.prev_page %}">&lsaquo;</a></li>
			    {% endif %}
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
				    	<a href="{% url 'yighub:listing' board current_board.id p %}">{{ p }}</a>
				    </li>
			    {% endfor %}
			    {% if page.last_page %}
			    <li><a href="{% url 'yighub:listing' board current_board.id page.next_page %}">&rsaquo;</a></li>
			    <li><a href="{% url 'yighub:listing' board current_board.id page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>
			{% else %}
			<div class="container-fruid text-center">
				<p> 아직 글이 존재하지 않습니다. </p>
			</div>
			{% endif %}
		</div>
	</div><!--/span-->	

{% endblock %}
