{% extends "yighub/sidebar.html" %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">{{ current_board.name }}</span>
				<span class="muted">{{ current_board.count_entry }}</span>
				<div class="container-fluid pull-right">
					{% if board == 'taskforce' %}
					<!-- <a href="{% url 'yighub:edit_taskforce' current_board.id %}"> -->
						<button type="button" class="btn" onclick="location.href = '{% url 'yighub:edit_taskforce' current_board.id %}'">Taskforce 수정하기</button>
					<!-- </a> -->
					{% endif %}
					<!-- <a href="{% url 'yighub:create_in_board' board current_board.id %}"> -->
						<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_in_board' board current_board.id %}'">글쓰기</button>
					<!-- </a> -->
				</div> 
			</div>
			<br />
			{% if page.entry_list %}
			<table class="table">
				<thead>
					<tr class="info">
						<th> 글쓴이 </th>
						<th> 제목 </th>
						<th> 등록일 </th>
					</tr>
				</thead>
				<tbody>
					{% for entry in page.entry_list %}
					<tr>
						<td class="creator-column"> {{ entry.creator }} </td>
						<td class="title-column">
							{% for i in entry.range %} ↳ {% endfor %}
							<a href="{% url 'yighub:read' board entry.id %}"> {{ entry.title|truncatechars:45 }}
								{% if not entry.count_comment == 0 %}
								<span class="badge badge-info">{{ entry.count_comment }}</span>
								{% endif %}
							</a>
						</td>
						<td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br />

			<div class="pagination pagination-small text-center">
			  <ul>
			  	<!-- {% if page.first_page %} -->
			    <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:listing' board current_board.id page.first_page %}">&laquo;</a></li> -->
			    <!-- <li><a href="{% url 'yighub:listing' board current_board.id page.prev_page %}">&lsaquo;</a></li> -->
			    <!-- {% endif %} -->
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
				    	<a href="{% url 'yighub:listing' board current_board.id p %}">{{ p }}</a>
				    </li>
			    {% endfor %}
			    {% if page.last_page %}
			    <!-- <li><a href="{% url 'yighub:listing' board current_board.id page.next_page %}">&rsaquo;</a></li> -->
			    <li class="visible-desktop"><a href="{% url 'yighub:listing' board current_board.id page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>

			<div class="container-fluid pull-right">
				<form action="{% url 'yighub:search' current_board.id 'keyword' 0 %}" method="post" class="form-search" >
					{% csrf_token %}
				  <input type="text" name="keyword" class="input-medium search-query" />
				  <button type="submit" class="btn">Search</button>
				</form>
			</div>

			{% else %}
			<div class="container-fruid text-center">
				<p> 아직 글이 존재하지 않습니다. </p>
			</div>
			{% endif %}
		</div>
	</div><!--/span-->	

{% endblock %}
