{% extends "yighub/base.html" %}

{% block sidebar %}
	<div class="span3">
		<div class="sidebar-nav">
			<ul class="nav nav-list sidebar">
				<li class="nav-header">Boards</li>
				{% for b in bulletin_list %}
				<li>
					<a href="{% url 'yighub:listing' 'bulletin' b.id 1 %}">{{ b.name }}
						<i class="icon-chevron-right"></i>
					</a>
				</li>
				{% endfor %}
				<li class="nav-header">Taskforce</li>
				{% for t in taskforce_list %}
				<li>
					<a href="{% url 'yighub:listing' 'taskforce' t.id 1 %}">{{ t.name }}
						<i class="icon-chevron-right"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Memo</span>
			</div>
			<br />
			{% if page.memo_list %}
			<table class="table">
				<thead>
					<tr class="info">
						<td> 글쓴이 </td>
						<td> 메모 </td>
						<td> 등록일 </td>
					</tr>
				</thead>
				<tbody>
					{% for m in page.memo_list %}
					<tr>
						<td class="creator-column"> {{ m.creator }} </td>
						<td class="title-column">
							{{ m.memo }}
							{% if m.creator == user %}
							<a href = "{% url 'yighub:delete_memo' m.id %}"> 
								<i class="icon-remove" style="opacity:0.25"></i> 
							</a>
							{% endif %}
						</td>
						<td class="time-column"> {{ m.time_created|date:"Y-m-d" }} </td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			<br />
			<div class="pagination pagination-small text-center">
			  <ul>
			  	<!-- {% if page.first_page %} -->
			    <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:memo' page.first_page %}">&laquo;</a></li> -->
			    <!-- <li><a href="{% url 'yighub:memo' page.prev_page %}">&lsaquo;</a></li> -->
			    <!-- {% endif %} -->
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
					    <a href="{% url 'yighub:memo' p %}">{{ p }}</a>
					</li>
			    {% endfor %}
			    {% if page.last_page %}
			    <!-- <li><a href="{% url 'yighub:memo' page.next_page %}">&rsaquo;</a></li> -->
			    <li class="visible-desktop"><a href="{% url 'yighub:memo' page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>
			{% else %}
			<div class="container-fruid text-center">
				<p> 아직 한줄 남기기가 존재하지 않습니다. </p>
			</div>
			{% endif %}
		</div>
	</div><!--/span-->	

{% endblock %}
