{% extends "yighub/sidebar.html" %}

{% block style %}
.lead {
color:deepskyblue;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">
					{% if board == 'bulletin' %}
					Boards News
					{% elif board == 'taskforce' %}
					Taskforce News
					{% endif %}
				</span>
				<div class="container-fluid pull-right">
					<!-- <a href="{% url 'yighub:create' board %}"> -->
						<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create' board %}'">글쓰기</button>
					<!-- </a> -->
				</div> 
			</div>
			<br />
			{% if board == 'taskforce' %}
			<div class="row-fluid">
				<div class="pull-left">
					<!-- <a href="{% url 'yighub:create_taskforce' %}"> -->
						<button type="button" class="btn" onclick="location.href = '{% url 'yighub:create_taskforce' %}'">Taskforce 만들기</button>
					<!-- </a> -->
				</div> 
				<div class="pull-right">
					<!-- <a href="{% url 'yighub:taskforce_archive' %}"> -->
						<button type="button" class="btn" onclick="location.href = '{% url 'yighub:taskforce_archive' %}'">Taskforce 아카이브</button>
					<!-- </a> -->
				</div> 

			</div>
			<br />
			{% endif %}

			{% if page.entry_list %}
			<table class="table">
				<thead>
					<tr class="info">
						<th> 글쓴이 </th>
						<th> 게시판 </th>
						<th> 제목 </th>
						<th> 등록일 </th>
					</tr>
				</thead>
				<tbody>
					{% for entry in page.entry_list %}
					{# for i in entry.range #}
					<tr>
						<td class="creator-column"> {{ entry.creator }} </td>
						<td class="board-column"> {{ entry.board.name|truncatechars:12 }} </td>
						<td class="title-column">
							{% for i in entry.range %} ↳ {% endfor %}
							<a href="{% url 'yighub:read' board entry.id %}">{{ entry.title|truncatechars:30 }}
								{% if not entry.count_comment == 0 %}
								<span class="badge badge-info">{{ entry.count_comment }}</span>
								{% endif %}
							</a>
						</td>
						<td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<br />
			<div class="pagination pagination-small text-center">
			  <ul>
			  	<!-- {% if page.first_page %} -->
			    <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:news' board page.first_page %}">&laquo;</a></li> -->
			    <!-- <li><a href="{% url 'yighub:news' board page.prev_page %}">&lsaquo;</a></li> -->
			    <!-- {% endif %} -->
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
				    	<a href="{% url 'yighub:news' board p %}">{{ p }}</a>
				    </li>
			    {% endfor %}
			    {% if page.last_page %}
			    <!-- <li><a href="{% url 'yighub:news' board page.next_page %}">&rsaquo;</a></li> -->
			    <li class="visible-desktop"><a href="{% url 'yighub:news' board page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>
			{% else %}
			<div class="container-fruid text-center">
				<p> 아직 글이 존재하지 않습니다. </p>
			</div>
			{% endif %}

		</div>
	</div><!--/span-->	

{% endblock %}

<!--
<h1> 게시판 이름 : {{ board.name }}</h1>

<h2>글 목록</h2>
{% if page.entry_list %}
<ul>
{% for entry in page.entry_list %}
{% for i in entry.range %}
<ul>
{% endfor %}
<li><a href = '/yighub/entry/{{ entry.id }}/'>{{ entry.title }}</a></li>
{% for i in entry.range %}
</ul>
{% endfor %}

{% endfor %}
</ul>
{% else %}
<p> No entry is available. </p>
{% endif %}
<br />
{% if page.first_page %}
<br />
<a href = '/yighub/board/{{ board.id }}/page/{{ page.first_page }}/'>first_page</a>
<a href = '/yighub/board/{{ board.id }}/page/{{ page.prev_page }}/'>prev_page</a>
{% endif %}
{% for p in page.page_list %}
<a href = '/yighub/board/{{ board.id }}/page/{{ p }}/'>{{ p }}</a>
{% endfor %}
{% if page.last_page %}
<a href = '/yighub/board/{{ board.id }}/page/{{ page.next_page }}/'>next_page</a>
<a href = '/yighub/board/{{ board.id }}/page/{{ page.last_page }}/'>last_page</a>
{% endif %}
<br />
<a href = '/yighub/entry/create/'>글쓰기</a>

<br />
<a href = '/yighub/logout/'>로그아웃</a>
