{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_History' %}">History</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="introduction">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <div class="row-fluid">
            <span id="lead" lang="en">Introduction</span>
        </div>
        <br />
        <br />
        <strong id="sub_lead" style="font-size: 20px;">1. 회장 전언</strong>
        <p class="wrap" lang="ko">
안녕하세요
연세대학교 유일의 실전 가치투자학회 YIG입니다.

YIG는 최고의 펀드매니저가 되는 것을 목표로 합니다. 그리고 성공적인 자산운용을 위해서는 깊이 있는 리서치가 뒷받침돼야 합니다. YIG에서는 산업분석, 기업분석, 밸류에이션의 과정을 거치며 애널리스트 리포트를 쓰는 연습을 합니다. 사업보고서와 IR자료, dart 공시, 원가 data 등 각종 자료를 분석해서 밸류체인을 파악하고, 경쟁우위를 짚어내는 것이 목적입니다.

YIG는 펀드를 직접 운용하고 있습니다. 펀드 운용을 위해서 거시경제 분석 및 시사 이슈들을 follow up 합니다. 학회 세션 동안 추천받은 종목이 펀드 운용에 반영될 수 있습니다. YIG 펀드는 주로 펀더멘탈이 튼튼한 가치주들에 주로 투자하고 있습니다. YIG 내에서 모의투자대회를 진행하는데, 이 대회를 통해서 학회원들과 수익률을 비교하며 주식에 대한 관심을 높일 수 있습니다.

YIG는 매 학기 대학 연합 리서치 대회인 KEYSS대회에 참가하고 있습니다. 대회를 준비하는 과정에서 실력을 갈고닦고, 타 대학 학회원과 교류하며 시야를 넓힐 수 있습니다.

2003년에 설립된 YIG는 290여명의 alumni가 있습니다. 학기 중에 진행하는 비정기적으로 진행하는 선배와의 만남 세션과 학기말에 있는 홈커밍 세션을 통해서 선배들과 교류하고 친목을 다지며, 실무에 대한 정보를 얻을 수 있습니다.

주식에 대한 관심과 열정이 많은 분이라면 YIG는 최고의 선택이 될 것입니다.
35기 YIGian이 될 여러분들을 기다리겠습니다. 감사합니다.

        </p>
        <p class="text-right" lang="ko">YIG 회장 한승석 올림</p>
        <br />
        <br />
    </div>
</section>
<!--//introduction-->
{% endblock %}