{% extends "yighub/extends/TopBar_Recruiting.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
    <style>
    .table{
        max-width: 680px;width: 100%;
        border: 1px solid rgba(214, 40, 40, .8);
        font-size: 16px;
    }

    .table td{
        padding: 5px;
    }

    @media (max-width: 850px) {
        .table{
            font-size: 12px;
        }
    }
    </style>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Schedule' %}">Schedule</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Recruiting' %}">Requirements</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_FAQ' %}">FAQ</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="schedule" lang="ko">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <span id="lead" lang="en">Schedule</span>
        <br />
        <br />
        <strong id="sub_lead">※ 코로나19로 인한 조치</strong>
        <p class="wrap">
코로나19로 인해서 학교 강의실 대관이 불가능해짐에 따라서,

학교 외부에서 설명회 및 면접을 진행하게 됐습니다.

보통 OT가 있는 주에 MT를 갔었지만, 코로나19로 인해서 MT는 5월로 연기됐습니다.
        </p>
        <br />
        <br />
        <strong>2020년 1학기 리쿠르팅 일정</strong>
        <br />
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>일정</th>
                    <th>내용</th>
                    <th>비고</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3월 4일(수) ~ 18일(수)</td>
                    <td>지원서 제출 및 마감</td>
                    <td>3월 19일(목) 18:00 마감</td>
                </tr>
                <tr>
                    <td>3월 18일(수)</td>
                    <td>설명회</td>
                    <td>합정 앤드스페이스</td>
                </tr>
                <tr>
                    <td>3월 20일(금) 오전</td>
                    <td>서류합격 발표 및 면접안내</td>
                    <td>개별통보</td>
                </tr>
                <tr>
                    <td>3월 21일(토) ~ 22일(일)</td>
                    <td>서류합격자 대상 면접</td>
                    <td>신촌 코지모임공간</td>
                </tr>
                <tr>
                    <td>3월 23일(월) 저녁</td>
                    <td>합격자 발표</td>
                    <td>개별 통보</td>
                </tr>
                <tr>
                    <td>3월 25일(수) 19:00</td>
                    <td>합격자 오리엔테이션</td>
                    <td>장소 미정</td>
                </tr>

            </tbody>
        </table>
        <br />
        <br />
        <strong id="sub_lead">1. 설명회 및 스터디 참여</strong>
        <p class="wrap">
3월 18일 수요일

합정 앤드스페이스 주소 : 서울 마포구 양화로8길 38 2층

학회 소개 및 활동 내역 발표, YIG Alumni의 강연이 있습니다.
        </p>
        <strong id="sub_lead">2. 지원서 제출</strong>
        <p class="wrap">
3월 19일 목요일 18:00

24:00가 아니라 18:00입니다. 지원서 마감 기한을 반드시 확인해주세요.

지원서를 다운로드 받아서 yigyonsei@gmail.com으로 제출하면 됩니다.

<a href="{% static 'yighub/YIG Application Form.docx' %}" style="color:blue;font-weight:bold;text-decoration:underline;">지원서 다운로드</a>
        </p>
        <strong id="sub_lead">3. 면접 참가</strong>
        <p class="wrap">
3월 21일 토요일, 3월22일 일요일

신촌 코지모임공간 주소 : 서울 서대문구 연세로8-1 버티고타워 10층

지원서 합격자에 한하여 개별적으로 공지됩니다. 지원서에 면접 희망시간을 기재하시면 최대한 반영하도록 하겠으나, 변동될 수 있습니다. 지원서에 적은 내용을 바탕으로 한 질문과 매우 기초적인 재무, 회계 지식에 대한 질문 등이 진행됩니다.
        </p>
        <strong id="sub_lead">4. 합격자 발표 및 OT</strong>
        <p class="wrap">
3월 23일 월요일 저녁 합격자 발표
3월 25일 수요일 OT
        </p>
        <br />
        <br />
    </div>
</section>
{% endblock %}