{% extends "yighub/extends/TopBar_Recruiting.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_FAQ' %}">FAQ</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Recruiting' %}">Requirements</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Schedule' %}">Schedule</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="FAQ">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <span id="lead" lang="en">FAQ</span>
        <br />
        <br />
        <strong id="sub_lead">Q) YIG 펀드 운용에 참여할 수 있나요?</strong>
        <p class="wrap">
A) 신입 학회원이 직접 운용하는 것은 불가능하지만, 학회 세션 동안 발표한 종목이 YIG 펀드에 반영될 수 있습니다.
        </p>
        <strong id="sub_lead">Q) 상경계열이 아니라도 YIG에 지원할 수 있나요?</strong>
        <p class="wrap">
A) 학과를 불문하고 주식에 관심이 있다면 누구나 YIG에 지원할 수 있습니다. 다만 최소한 기초적인 회계와 재무 지식이 있어야 기업분석과 밸류에이션이 가능하기 때문에 남들보다 열심히 공부하셔야 됩니다. 교육세션을 열심히 참여하시고, 정규 세션을 열심히 참여하시다보면 자연스럽게 관련 지식이 늘어날 수밖에 없습니다. 2019년 2학기 신입학회원들 중에도, 인문계열, 이공계열 학회원들이 꽤 있었습니다. 학과는 문제되지 않습니다.
        </p>
        <strong id="sub_lead">Q) 재무와 회계를 하나도 모르는데 괜찮나요?</strong>
        <p class="wrap">
A) 괜찮습니다. 재무와 회계 관련 지식이 있다면 분명히 학회 활동이 수월해지기는 하지만 관련 지식이 없더라도 학회에 들어온 후에 교육세션을 통해서 기초적인 지식을 쌓을 수 있고, 학회원들과 함께 리포트를 쓰다 보면 자연스럽게 관련 지식이 늘게 됩니다.
        </p>
        <strong id="sub_lead">Q) YIG 회원이 되기 위해서 무엇을 준비해야 하나요?</strong>
        <p class="wrap">
A) YIG는 서류와 면접 전형을 통해서 지원자분들의 주식에 대한 관심과 열정을 보고자 합니다. 지원서의 4번 문항(본인의 투자관, 투자하고 싶은 기업)을 깊이 있게 적어주시면 좋습니다. 면접 때 물어볼 예정입니다.
        </p>
        <strong id="sub_lead">Q) 꼭 3학기 연속으로 활동을 해야 하나요?</strong>
        <p class="wrap">
A) 아닙니다. 교환학생이나 인턴 혹은 그밖의 개인적인 사정으로 잠시 이수학기를 중단할 수 있습니다. 하지만 반드시 정규 2학기 방학 1학기를 모두 활동해야 정규 학회원으로 인정됩니다.
        </p>
        <br />
        <br />
    </div>
</section>
{% endblock %}