{% extends "yighub/sidebar.html" %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Clipping</span> 
			</div>
			<br />
			<br />
			<ul>
			{% for e in page.entry_list %}
				<li><a href="{{ e.content }}" target="_blank">{{ e.title }}</a></li>
			{% endfor %}
			</ul>
			<br />
			<br />
			{% if user and user.level != 'non' %}
			<div class="row-fluid" style="margin-top: 70px">
				<div class="container-fluid">
					<span class="pull-right">
					<!-- <a href="{% url 'yighub:create_in_board' board current_board.id %}"> -->
						<button type="button" class="btn btn-primary" onclick="location.href='{% url 'yighub:create_in_board' board current_board.id %}'">추가하기</button>
					<!-- </a> -->
					</span>
				</div> 	
				<br />
				<p class="pull-right">
				* 추가할 때 제목에는 [언론사] 기사 제목, 내용에는 링크 주소만을 써주세요. 
				</p>
			</div>
			{% endif %}

		</div>
	</div><!--/span-->	

{% endblock %}