{% extends "yighub/extends/TopBar_Fund.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_YIG_Universe' 0 %}">YIG Universe</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_SIM_A' 0 %}">OK Fund</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Sfund' 0 %}">S Fund</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}

{% block contents %}
	<section class="Fund" lang="ko">
		<div class="container-fluid">
            <span id="lead" lang="en">Fund</span>
			<br />
			<br />
			<strong>YIG Universe</strong>
			<br />
            <br />
        <table class="fund_table">
            <thead>
                <tr>
                    <th>글쓴이</th>
                    <th>제목</th>
                    <th>등록일</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in page.entry_list %}
                    <tr>
                        <td>{{ entry.creator }}</td>
                        <td class="fund_title"><a href="{% url "yighub:Public_Universe_detail" entry.id  %}">{{ entry.title }}</a></td>
                        <td>{{ entry.time_created|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

			{% if files %}
			<!--<p class="lead">파일 다운로드</p>-->
			<ul class="unstyled">
				{% for f in files %}
				<li><a href="{{ f.file.url }}">{{ f.name }}&nbsp;</a><span class="badge badge-success">{{ f.hit }}</span></li>
				{% endfor %}
			</ul>
			<br />
			<hr />
			{% endif %}

			{% if entry.creator == useraccount %}
			<span class="pull-right">
				<a href = "{% url 'yighub:edit' board entry.id %}">수정하기</a>
				&nbsp;&nbsp;
				<script>
				function check_delete_{{entry.id}}() {
					if (confirm("정말 삭제하시겠습니까?")){
					window.open("{% url 'yighub:delete' board entry.id %}", "_self")
					}
				}
				</script>
				<a onclick="check_delete_{{entry.id}}()">삭제하기</a>
			</span>
			{% endif %}

			<br />
			<br />
			<div class="pagination pagination-small text-center">
			  <ul>
			  	<!-- {% if page.first_page %} -->
			    <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:Public_YIG_Universe' page.first_page %}">&laquo;</a></li> -->
			    <!-- <li><a href="{% url 'yighub:Public_YIG_Universe' page.prev_page %}">&lsaquo;</a></li> -->
			    <!-- {% endif %} -->
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
					    <a href="{% url 'yighub:Public_YIG_Universe' p %}">{{ p }}</a>
					</li>
			    {% endfor %}
			    {% if page.last_page %}
			    <!-- <li><a href="{% url 'yighub:Public_YIG_Universe' page.next_page %}">&rsaquo;</a></li> -->
			    <li class="visible-desktop"><a href="{% url 'yighub:Public_YIG_Universe' page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
                {% if useraccount and useraccount.level != 'non' %}
                 <span class="pull-left">
                     <!-- <a href="{% url 'yighub:create_in_board' board board_id %}"> -->
                     <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_in_board' board board_id %}'">글쓰기</button>
                     <!-- </a> -->
                 </span>
		        {% endif %}
			</div>
        <!--//pagination text-center-->
		</div>
    <!--container-fluid-->
    </section>
    <!--//fund-->
{% endblock %}