{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Introduction</span> 
			</div>
			<br />
			<br />
			<strong>회장 전언</strong>
			<p class="wrap">
어디를 가나 항상 사람들에게 둘러 쌓여 있는 인기 많은 사람이 있는가 하면 별로 특별한 것도 없어 보이고 게다가 조용하기 까지 해서 존재감 제로인 사람도 있죠. 그런데 후자에 해당하는 사람들 중에서 보면 볼수록 매력이 넘치고 알면 알수록 “이 사람 정말 괜찮다!”하고 느낌이 오는 사람이 꽤나 많습니다.

주식도 사람과 비슷한 면이 많은 것 같습니다. 한국 주식시장에 상장된 종목이 수천 개에 달하고 그 중에서 매력을 감추고 있는 종목들이 매우 많습니다. 앞, 뒤, 옆을 다 들여다봐도 정말 좋은 기업인데 그에 비해 주가가 싸다는 확신이 든다면 그 주식을 얼른 사야 할 것입니다. 이것이 YIG가 지향하는 가치투자의 개념입니다. 이를 바탕으로 기업 및 산업 분석을 통해 살만한 종목을 골라내고 학회에서 실전적으로 운영하는 펀드를 통해 수익률을 직접 확인합니다.

YIG에서는 현명한 투자자를 꿈꾸는 분들을 모집합니다. 불안정한 시장 상황일수록 시장가격과 내재가치를 구별하여 투자하는 것은 중요합니다. 순수한 열정으로 현명한 투자자를 꿈꾸는 이들을 환영합니다.
			</p>
			<p class="text-right">2013년 8월 25일 YIG회장 단상우.</p>
			<br />
			<br />
			<strong>YIG 소개</strong>
			<br />
			<p class="text-info text-center">"같이 가치투자"</p>
			<p class="wrap">
YIG(Yonsei Investment Group)는 2003 년에 설립된 연세대학교 유일의 실전가치투자 동아리로서 최고의 금융전문가를 지향하는 사람들의 모임입니다. 하루가 다르게 격변하는 시장 속에서 가치투자 철학 바탕으로 기업의 진정한 가치를 분석하고 더 나아가 직접 펀드를 운용하며 실제로 검증하는 것을 목표로 하고 있습니다.

YIG(Yonsei Investment Group), being as the first and only investment group in Yonsei University since 2003, is a group of students who aim to be the best investment experts. Based on value investment principles, YIG conducts corporate analysis and valuation while managing its own equity funds.
			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}