{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li class="clearfix"><a href="{% url 'yighub:Public_History' %}">History</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="history">
	<div class="container-fluid">
		<span id="lead">History</span>
		<br />
		<br />
		{% for e in page.entry_list %}
		<strong id="sub_lead">{{ e.title }}</strong>
		<dl class="dl-horizontal">
			{% for h in e.history %}
			<dt>{{ h.month }}</dt>
			{% for event in h.events %}
				<dd>{{ event }}</dd>
			{% endfor %}

			{% endfor %}
		</dl>
		{% if not forloop.last %}
		<hr />
		{% endif %}
		{% endfor %}
	</div>
    <!--//container-fluid-->
</section>
<!--//history-->
{% endblock %}