{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Contact Us</span> 
			</div>
			<br />
			<br />
			<div class="well">
				<strong class="text-info">회 장</strong>
				<strong>단상우</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-5060-4326</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>sangwoo001@yonsei.ac.kr</span>
				<br />
				<br />

				<strong class="text-info">부회장</strong>
				<strong>노경탁</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-3136-6333</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>kyoungkt@naver.com</span>
				<br />
				<br />
				
				<strong class="text-info">HR 매니저</strong>
				<strong>이희건</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-2713-7835</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>leeheegunhn@gmail.com</span>
				<br />

			</div>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}