{% extends "yighub/sidebar.html" %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Fund</span> 
			</div>
			<br />
			<br />
			<strong>G FUND</strong>
			<br />
			{% for entry in page.entry_list %}
			<h3>{{ entry.title }}</h3>
			<span> {{ entry.time_created }} </span>
			<hr />
			{% if entry.thumbnails %}
			{% for t in entry.thumbnails.all %}
			<div class="text-center">
				<img src="{{ t.thumbnail.url }}" style="width:100%; max-width:650px;"/>
			</div>
			<br />
			{% endfor %}
			<br />
			<br />
			{% endif %}
			{% filter urlize|linebreaks %}
			{{ entry.content|safe }}
			{% endfilter %}
			<br />
			<hr />

			{% if files %}
			<!--<p class="lead">파일 다운로드</p>-->
			<ul class="unstyled">
				{% for f in files %}
				<li><a href="{{ f.file.url }}">{{ f.name }}&nbsp;</a><span class="badge badge-success">{{ f.hit }}</span></li>
				{% endfor %}
			</ul>
			<br />
			<hr />
			{% endif %}

			{% if entry.creator == user %}
			<span class="pull-right">
				<a href = "{% url 'yighub:edit' board entry.id %}">수정하기</a> 
				&nbsp;&nbsp;
				<script>
				function check_delete_{{entry.id}}() {
					if (confirm("정말 삭제하시겠습니까?")){
					window.open("{% url 'yighub:delete' board entry.id %}", "_self")						
					}
				}
				</script>
				<a onclick="check_delete_{{entry.id}}()">삭제하기</a>
			</span>
			{% endif %}
			{% endfor %}
			<br />
			<br />
			<div class="pagination pagination-small text-center">
			  <ul>
			  	<!-- {% if page.first_page %} -->
			    <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:listing' board current_board.id page.first_page %}">&laquo;</a></li> -->
			    <!-- <li><a href="{% url 'yighub:listing' board current_board.id page.prev_page %}">&lsaquo;</a></li> -->
			    <!-- {% endif %} -->
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
					    <a href="{% url 'yighub:listing' board current_board.id p %}">{{ p }}</a>
					</li>
			    {% endfor %}
			    {% if page.last_page %}
			    <!-- <li><a href="{% url 'yighub:listing' board current_board.id page.next_page %}">&rsaquo;</a></li> -->
			    <li class="visible-desktop"><a href="{% url 'yighub:listing' board current_board.id page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>

		</div>

		{% if user and user.level != 'non' %}
		<div class="row-fluid" style="margin-top: 70px">
			<div class="container-fluid">
				<span class="pull-right">
				<!-- <a href="{% url 'yighub:create_in_board' board current_board.id %}"> -->
					<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_in_board' board current_board.id %}'">글쓰기</button>
				<!-- </a> -->
				</span>
			</div> 			
		</div>
		{% endif %}

	</div><!--/span-->	

{% endblock %}