{% extends "yighub/extends/TopBar_Recruiting.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Recruiting' %}">Requirements</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Schedule' %}">Schedule</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_FAQ' %}">FAQ</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
 <section class="recruiting" lang="ko">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <span id="lead" lang="en">Requirements</span>
        <br />
        <br />
        <strong id="sub_lead">2020년 1학기 35기 정회원 리크루팅 </strong>
        <br />
        <br />
        <p>
YIG는 2020년 1학기 35기 회원을 모집합니다.
        </p>
        <p class="wrap">
YIG에서는 주식에 관심이 많은 분들을 모십니다. 신입사원이 들어왔을 때 말로만 주식에 관심이 많은 사람인지, 진짜로 주식에 관심이 많은 사람인지 바로 티가 난다고 합니다. YIG는 이론에 치우치지 않고, 실제 주식에 관심이 많은 분들을 찾고 있습니다. 기업 분석 및 밸류에이션 과정에서 회계 및 재무 지식이 중요한 것은 분명한 사실이지만, 관심과 열정이 충분한 분들이라면 다소 관련 지식이 부족하더라도 YIGian의 회원이 될 수 있습니다. 실제로 경영학 지식이 전무한 채로 생물학 석사 과정에 학회에 들어오셨다가 박사과정을 마친 뒤에 바이오 섹터 운용역으로 일하시는 선배님도 계신 만큼, 주식에 대한 관심이 그동안 쌓아 놓은 재무, 회계지식보다 중요합니다.
        </p>
        <strong class="sub_lead">지원 자격</strong>
        <p class="wrap">
- 리서치와 운용 관련 진로에 관심이 많으신 분
- 주식투자에 관심과 열정이 많으신 분
- 정규 2학기 방학 1학기 활동 가능하신 분 (연속해서 활동하지 않아도 괜찮습니다.)
- 학과, 학번, 나이, 성별 무관. 대학원생 지원 가능
- 매주 수요일 저녁과 토요일 오후에 정규 세션이 진행됩니다. 정규 세션 참가에 지장이 없어야 합니다.

YIG는 기본적으로
1. 창의적인 투자 아이디어 
2. 논리적 사고 및 분석력 
3. 적극적인 참여의식을 가진 분을 찾습니다. 
        </p>
문의사항은 다음 연락처로 보내주세요.
<br/><br/>
<a class="sub_lead" href="{% url "yighub:Public_Contact" %}" style="text-decoration: none;">Contact Us</a>
        <br />
<p class="wrap">
-회장    한승석 010-8718-3964
-부회장 배성조 010-8452-3474
-HR      이지호 010-5043-9855
</p>
<p class="wrap">
카카오톡 플러스친구 YIG
</p>

        <br />
        <br/>
    </div>
    <!--//container-fluid-->
 </section>
 <!--//Recruiting-->
{% endblock %}