{% extends "yighub/extends/TopBar_Recruiting.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Apply' %}">Apply</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Recruiting' %}">Recruiting</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Schedule' %}">Schedule</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_FAQ' %}">FAQ</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="Apply">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <span id="lead" lang="en">Apply</span>
        <br />
        <br />
        <strong id="sub_lead">1. 설명회 및 스터디 참여</strong>
        <p class="wrap">
2019년 3월 8일 금요일 7시 경영관 B224호에서 진행됩니다.

설명회는 학회 소개 및 활동 내역, 현업에 종사 중인 선배회원의 강의로 구성됩니다.
        </p>
        <strong id="sub_lead">2. 지원서 제출</strong>
        <p class="wrap">
이메일 접수 : 지원서(<a href="{% static 'yighub/YIG Application Form.docx' %}">Download</a>)를 다운 받아 yig.recruiting@gmail.com으로 제출 (3월 10일 일요일 24시 마감)

투자기업 선정 보고서에 일정한 양식은 없습니다. 해당 기업에 대한 투자 이유, 참신한 아이디어와 논리성 위주로 작성해주세요.
        </p>
        <strong id="sub_lead">3. 면접 참가</strong>
        <p class="wrap">
면접 일정은 지원서 합격자에 한하여 개별적으로 공지됩니다. (3월 11일, 12일 면접)

지원서에 희망 면접 시간을 기재하시면 최대한 반영하도록 하겠으나 약간의 차이가 있을 수도 있습니다. 

면접은 개별 면접으로 학술 & 인성으로 나뉘어 진행될 예정이며, 지원자 상황에 따라 면접 일자가 차이가 날 수 있습니다.
        </p>
        <strong id="sub_lead">4. 합격자 발표 및 MT</strong>
        <p class="wrap">
2019년 3월 13일 개별 합격자 발표
2019년 3월 15일 MT
        </p>
        <br />
        <br />
    </div>
</section>
{% endblock %}