{% extends "yighub/sidebar.html" %}
{% load staticfiles %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Contact Us</span> 
			</div>
			<br />
			<br />
			<img src="{% static 'yighub/images/contacts.png' %}" style="height:30%; width:100%;" />
<!-- 
			<div class="well">
				<strong class="text-info">회 장</strong>
				<strong>이준희</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-7271-7135</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>junhee109@gmail.com</span>
				<br />
				<br />

				<strong class="text-info">부회장</strong>
				<strong>임지우</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-8507-6177</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>jilim0225@gmail.com</span>
				<br />
				<br />
				
				<strong class="text-info">HR 매니저</strong>
				<strong>박주현</strong>
				<br />
				<span class="text-info">- phone</span>
				<span>010-5779-0405</span>
				<br />
				<span class="text-info">- e-mail</span>
				<span>dpeo0405@gmail.com</span>
				<br />
			</div>
 -->
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}