{% extends "yighub/sidebar.html" %}
{% load staticfiles %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Apply</span> 
			</div>
			<br />
			<br />
			<span class="label label-info">1</span>
			<strong>설명회 및 스터디 참여</strong>
			<p class="wrap">
설명회는 2016년 3월 7일 월요일에 진행됩니다.

설명회는 학회 소개 및 활동 내역, 현업에 종사 중인 선배회원의 강의로 구성됩니다.
			</p>
			<span class="label label-info">2</span>
			<strong>지원서 제출</strong>
			<p class="wrap">
이메일 접수 : 지원서(<a href="{% static 'yighub/YIG 입회 지원서.doc' %}">Download</a>)를 다운 받아 2016YIG@gmail.com으로 제출 (3월 9일 수요일 23시 마감) 

투자기업 선정 보고서에 일정한 양식은 없습니다. 해당 기업에 대한 투자 이유, 참신한 아이디어와 논리성 위주로 작성해주세요.
			</p>
			<span class="label label-info">3</span>
			<strong>면접 참가</strong>
			<p class="wrap">
면접 일정은 지원서 합격자에 한하여 개별적으로 공지됩니다. (2016년 3월 10일, 11일 합격자 발표 및 면접)

지원서에 희망 면접 시간을 기재하시면 최대한 반영하도록 하겠으나 약간의 차이가 있을 수도 있습니다. 

면접은 개별 면접으로 학술 & 인성으로 나뉘어 진행될 예정이며, 지원자 상황에 따라 면접 일자가 차이가 날 수 있습니다.

			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}