{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_History' %}">History</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
            <span id="lead" lang="en">Activity</span>
			<br />
			<br />
            <div lang="ko">
                <strong id="sub_lead">1. 기업 분석</strong>
                <p class="wrap">
    YIG는 현재 ET 펀드를 직접 운용중에 있습니다. 3학기 이상 학회 활동에 참여하는 인원에 한하여 직접 펀드를 운용할 수 있는 기회가 부여됩니다.
    YIG는 주기적으로 투자 목적의 기업 분석 보고서를 작성합니다. 이는 선정 기업의 사업내용, 영위하는 산업분석, 투자 대상으로서 부각되는 가치, 가치 발현을 막는 리스크, 기업 가치 평가가 주된 내용입니다. 보고서 작성, 발표, Q&A를 통해 YIG Universe 편입 여부가 결정됩니다.
                </p>
                <strong id="sub_lead">2. 펀드 운용</strong>
                <p class="wrap">
    ET펀드는, 가치투자에 기반하여, 국내주식, 해외주식, 채권, 대체투자 등 다양한 자산군에 투자합니다. 시장의 가격과 적정가격의 mismatch가 생길 경우 이에 대한 명확한 근거를 갖고 투자하는 것을 기본 전략으로 하고 있습니다.
                </p>
                <strong id="sub_lead">3. 타 대학 투자학회와의 교류</strong>
                <p class="wrap">
    YIG는 매 학기 2개의 리서치 대회에 참여하며 서울대, 고려대, 서강대, 이화여대, 성균관대, 카이스트 등 타 학교의 투자학회와 선의의 경쟁 및 교류 중입니다. 이는 장기적으로 훌륭한 금융인으로 성장하기 위한 사회적 네트워크 구축을 가능케 합니다.
                </p>
                <strong id="sub_lead">4. 현업자 강의, MT 및 홈커밍데이</strong>
                <p class="wrap">
    금융권의 다양한 분야에 계시는 현업선배님들과 활발한 교류가 가능하며,  학회 선후배님들과 단순 진로 네트워크 목적만이 아닌 사람과 사람으로서 친목을 다질 기회도 다양합니다.
                </p>
		    </div>
        </div>
    <!--//container-fluid-->
{% endblock %}