{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_History' %}">History</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
            <span id="lead" lang="en">Activity</span>
			<br />
			<br />
            <div lang="ko">
                <strong id="sub_lead">1. 교육 세션</strong>
                <p class="wrap">
    기존 학회원들이 신입 학회원들에게 기초적인 재무, 회계 지식 및 밸류에이션 기법, 엑셀을 활용한 Data Visualization 방법 등을 가르칩니다. 정규 수업이나 인터넷 강의와 다르게 매우 제한된 시간 동안 학회 활동에 필요한 필수적인 지식을 다루기 때문에 내용은 쉬운 편입니다.
                </p>
                <strong id="sub_lead">2. 운용 세션</strong>
                <p class="wrap">
    조별로 기업을 정한 뒤에 해당 기업에 대한 심도 깊은 애널리스트 리포트를 쓰고 발표합니다. 학회원들의 피드백을 통해서 서로 발전할 수 있는 시간을 갖습니다. 운용세션 동안 운용부장은 YIG펀드 운용성과 발표 및 거시경제 이슈를 follow up합니다.
                </p>
                <strong id="sub_lead">3. 리서치 대회</strong>
                <p class="wrap">
    매 학기 정기적으로 진행하는 대학 연합 리서치 대회인 KEYSS대회에 참가합니다. 비정기적으로 1년에 한 번 열리는 CFA협회 주최 Global investment research challenge에 참가합니다. YIG 내부적으로 KEYSS대회 선발팀을 가려내기 위한 신입생대회를 진행합니다.
                </p>
                <strong id="sub_lead">4. 선배와의 만남</strong>
                <p class="wrap">
    학기 중에는 선배님들과의 시간 조율을 통해서 비정기적으로 선배와의 만남 세션을 갖습니다. 각종 실무 얘기와 해당 직종의 커리어패스, 취업하기까지의 준비 과정 등 취업에 대한 궁금증을 해소할 수 있습니다. 졸업한 뒤에도 YIG를 찾아주시는 정이 많으신 선배들과 좋은 인연을 만들어갈 수 있는 기회입니다.
                </p>
		    </div>
        </div>
    <!--//container-fluid-->
{% endblock %}