{% extends "yighub/extends/TopBar_For_Research.html" %}
{% block customstyle %}
    <style>
    hr{
        border-color: rgba(0,0,0,.2);
        border-width: 0.5px;
    }
    </style>
{% endblock %}
{% block contents %}
<section class="research" lang="ko">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <span id="lead">Research</span>
        <br />
        {% for entry in page.entry_list %}
        <h3>{{ entry.title }}</h3>
        <span> {{ entry.time_created }} </span>
        <hr/>
        {% if thumbnails %}
        {% for t in thumbnails %}
        <div class="text-center">
            <img src="{{ t.thumbnail.url }}" style="width:100%; max-width:650px;"/>
        </div>
        <br />
        {% endfor %}
        <br />
        <br />
        {% endif %}
        {% filter urlize|linebreaks %}
        {{ entry.content|safe }}
        {% endfilter %}
        <br />
        <hr/>
        {% if entry.downloads %}
        <ul class="unstyled" style="margin-bottom: 70px;">
            {% for f in entry.downloads %}
            <li><a href = "{{ f.file.url }}">{{ f.name }}&nbsp;</a></li>
            {% endfor %}
        </ul>
        <br />

        {% endif %}

        {% if entry.creator == user %}
        <span class="pull-right">
            <a href = "{% url 'yighub:edit' board entry.id %}">수정하기</a>
            &nbsp;&nbsp;
            <script>
            function check_delete_{{entry.id}}() {
                if (confirm("정말 삭제하시겠습니까?")){
                window.open("{% url 'yighub:delete' board entry.id %}", "_self")
                }
            }
            </script>
            <a onclick="check_delete_{{entry.id}}()">삭제하기</a>
        </span>
        {% endif %}
        {% endfor %}
        <br />
        <br />
        <div class="pagination pagination-small text-center">
          <ul>
            <!-- {% if page.first_page %} -->
            <!-- <li class="visible-desktop pull-left"><a href="{% url 'yighub:Public_Research' page.first_page %}">&laquo;</a></li> -->
            <!-- <li><a href="{% url 'yighub:Public_Research' page.prev_page %}">&lsaquo;</a></li> -->
            <!-- {% endif %} -->
            {% for p in page.page_list %}
                {% if p == page.current_page %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{% url 'yighub:Public_Research' p %}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page.last_page %}
            <!-- <li><a href="{% url 'yighub:Public_Research' page.next_page %}">&rsaquo;</a></li> -->
            <li class="visible-desktop"><a href="{% url 'yighub:Public_Research' page.last_page %}">&raquo;</a></li>
            {% endif %}
          </ul>
            {% if user and user.level != 'non' %}
             <span class="pull-left">
                    <!-- <a href="{% url 'yighub:create_in_board' board board_id %}"> -->
                        <button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_in_board' board board_id %}'">글쓰기</button>
                    <!-- </a> -->
            </span>
        </div>
        <!--pagination //-->
    </div>
    <!--container-fluid//-->
    {% endif %}
</section>
    <!--//research-->
{% endblock %}