{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Apply</span> 
			</div>
			<br />
			<br />
			<span class="label label-info">1</span>
			<strong>설명회 및 스터디 참여</strong>
			<p class="wrap">
- 설명회와 스터디는 같은 날 진행합니다. 

- 스터디는 현업에 있는 선배회원의 강의 방식으로 진행됩니다. 

			</p>
			<span class="label label-info">2</span>
			<strong>지원서 제출</strong>
			<p class="wrap">
- 이메일 접수 : 지원서(Download)를 다운 받아 sangwoo001@yonsei.ac.kr 으로 제출 

- 투자기업선정 보고서에 일정한 양식은 없습니다. 

- 왜 이 기업에 투자를 해야 하는지 참신한 아이디어 & 논리성 위주로 작성해주세요. :)

			</p>
			<span class="label label-info">3</span>
			<strong>면접 참가</strong>
			<p class="wrap">
- 면접은 지원자가 많아질 경우 평일에 진행될 수 있습니다. 

- 지원서에서 희망 면접 시간을 기재하시면 최대한 반영하도록 하겠으나 약간의 차이가 있을수도 있습니다. 

- 면접은 개별 면접으로 학술 & 인성으로 나뉘어 진행될 예정입니다. 

			</p>
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}