{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% load static %}
{% block customstyle %}
    <link rel="stylesheet" href="{% static "yighub/CSS/VisitorIntroduction.css" %}"/>
{% endblock %}
{% block sub_depth2 %}
    <div>
        <ul class="sub_depth2">
            <li id="current_two" class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
            <ul class="sub_depth2_drop clearfix">
                <li class="clearfix"><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
                <li class="clearfix"><a href="{% url 'yighub:Public_History' %}">History</a></li>
            </ul>
        </ul>
        <!--//sub_depth2-->
    </div>
{% endblock %}
{% block contents %}
<section class="introduction">
    <div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
        <div class="row-fluid">
            <span id="lead" lang="en">Introduction</span>
        </div>
        <br />
        <br />
        <strong id="sub_lead" style="font-size: 20px;">1. 회장 전언</strong>
        <p class="wrap" lang="ko">
안녕하세요 연세대학교 실전 가치투자학회 YIG입니다.
YIG는 2003년 설립된 연세대학교 유일의 실전 가치투자학회입니다. 저희 학회는 ‘기업의 가치는 가격과 다르며, 가격은 가치에 수렴한다’ 라는 비전에 근거하여 활동합니다.

YIG는 기업 및 산업 분석과 밸류에이션을 통해 기업의 적정 가치를 파악합니다.
재무제표와 사업보고서, 그리고 산업 관련 이슈를 통해 기업의 가치를 파악하는 것은 가장 기본적이며, 중요한 과정입니다.

YIG는 타 대학과 활발한 교류를 하고 있습니다.
현재 KEYSS대회 등 대학 연합 리서치 대회에 매 학기 참가하고 있으며, 이는 타 대학 학회원과 교류하여 친목을 다지고 시야를 넓히는 기회가 됩니다.

YIG는 펀드를 직접 운용하고 있으며, 펀드마다 다른 접근을 통해 투자를 진행하고 있습니다.
각각의 펀드에는 펀드매니저와 애널리스트가 배정되어, 해당 펀드의 투자전략에 알맞은 기업을 찾아 투자합니다.

YIG는 매 학기 업계 선배님들과의 만남을 진행하고 있습니다.
홈커밍데이 등을 통해 선배님들을 초청하여 만남을 진행하고, 현직 선배님들을 통하여 업계에 대한 이해와 관심을 이어나갑니다.

우리 학회는 여러 프로그램을 통해 학회원들의 실력 향상을 추구합니다. 투자에 관심이 있는 여러분을 연세대 유일 실전 가치투자학회로 초대합니다.

34기 YIGian이 될 여러분들을 기다리겠습니다. 감사합니다.

        </p>
        <p class="text-right" lang="ko">YIG 회장 정재호 올림</p>
        <br />
        <br />
        <strong style="font-size: 1.2em;">2. YIG 철학</strong>
        <br />
        <br />
        <p class="text-info">"같이 가치투자"</p>
        <p class="wrap" lang="ko">
YIG(Yonsei Investment Group)는 2003 년에 설립된 연세대학교 유일의 실전가치투자 동아리로서 최고의 금융전문가를 지향하는 사람들의 모임입니다. 하루가 다르게 격변하는 시장 속에서 가치투자 철학 바탕으로 기업의 진정한 가치를 분석하고 더 나아가 직접 펀드를 운용하며 실제로 검증하는 것을 목표로 하고 있습니다.
        </p>
        <span class="wrap" lang="en">
YIG(Yonsei Investment Group), being as the first and only investment group in Yonsei University since 2003, is a group of students who aim to be the best investment experts. Based on value investment principles, YIG conducts corporate analysis and valuation while managing its own equity funds.
        </span>
        <br />
        <br />
    </div>
</section>
<!--//introduction-->
{% endblock %}