{% extends "yighub/sidebar.html" %}

{% block style %}
p {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Activity</span> 
			</div>
			<br />
			<br />
			<strong>펀드 운용</strong>
			<p >
YIG는 2011년 8월 현재 3개의 펀드를 운용하고 있습니다.
심봤다 A형 펀드는 재학생의 자금을 펀딩하여 마젤란 펀드를 벤치마크하여 운용하고 있으며, 심봤다 B형 펀드는 졸업생의 자금을 펀딩하여 타겟수익률이 100% 상회하는 10 목에 투자를 하고 있고, 심봤다 V형 펀드는 지도 교수님이신 장진호 교수님께서 출자하셔서 운용되고 있습니다.

가치투자의 관점을 유지하면서, 최근 시장수익률을 크게 상회하는 성과를 보이고 있습니다. 특히, 심봤다 B형과 V형은 2011년 8월 18일  펀드 설정일로부터 현재까지 코스피 대비 각각 35%, 10%를 상회하는 성과를 보이고 있습니다.
			</p>
			<strong>기업 분석</strong>
			<p>
- Team 혹은 개인별 보고서 작성
- 매주 토요일 정기 회의 때 기업분석 presentation 실시

가치 투자는 기업 발굴에서 분석으로 끝난다고 해도 과언이 아닙니다. 따라서 기업분석은 YIG의 핵심 활동으로서 일정 수준 이상의 실력을 갖추기 위해 반드시 거쳐야 할 가장 기본적인 훈련입니다.
YIG는 매달 팀별로 기업을 선정하여 사업분석과 재무분석을 거쳐 벨류에이션에 이르기까지 가치 투자 철학에 맞는 방법론을 통해 기업을 분석합니다. 철저한 분석을 거친 기업들은 YIG Universe에 편입되고, 이 중에서 가장 매력적인 기업들을 선정하여 YIG Fund에 편입시키게 됩니다.
			</p>
			<strong>산학 협력</strong>
			<p>
- 동양종합금융
BUS에 선정된 동아리로서, 타대학 동아리와 긴밀한 교류를 도모하며, 동시에 공동과제를 두고 선의의 경쟁을 벌입니다.

- FnGuide
국내 최고 수준의 기업 정보 데이터베이스인 FnGuide와 협력하에, 국내 기업에 대한 분석을 수행하여 기업분석자료집 출판에 참여합니다.
			</p>
			<strong>각종 세션</strong>
			<p>
투자동아리 연합 세션

서울대학교 SMIC와 고려대학교 가치투자연구회 등 타 대학 투자동아리와 연합 세션을 개최하여 동아리간 교류 및 실력 증진을 도모합니다.
타 대학 동아리와 함께 하는 기업 분석 발표 및 거시 경제 분석은 YIG를 긴장하게 만들기도 하는 만만치 않은 도전이지만, 한편으로는 YIG의 시야를 넓혀 주고 동기를 부여해 주는 소중한 기회입니다.
또한 연세대학교가 아닌 곳에서 활약하는 미래의 경쟁자이자 동반자와 친목을 다지고 비전을 같이 나누는 장이기도 합니다.션

교수님과의 세션

Harvard Business Review case 분석을 통하여 과거 국내외 유수기업들의 의사결정과정에 대해 연구합니다. 이를 지도교수님의 피드백을 통하여 학문적인 검증을 받게 됩니다.
			</p>
			<strong>기타 활</strong>
			<p>
스터디

YIG의 스터디는 자율적이며 열정적입니다. 배우고 싶은 것이 있으면 누구라도 리더가 되어 스터디의 장을 열 수 있습니다. 회계 및 재무 기본지식에서 부터 높은 수준의 밸류에이션에 이르기까지 심도있는 스터디가 이루어 집니다. 최근 투자 관련 서적 집필에 참여하면서 그 영역을 확대하고 있습니다.


기타 활동

YIG는 주요 활동 외에 회원의 화합을 위한 MT, YIG출신 선배와의 유대를 돈독히 하는 홈커밍데이를 정기적으로 가집니다.


기업 탐방

- 학기당 1회 이상 기업 탐방

YIG가 관심을 가지고 있는 기업의 실제 영업활동을 체험하기 위한 기업 탐방은 자칫 탁상공론에 그칠 수 있는 분석에 활력을 더합니다.
			</p>


			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}