{% extends "yighub/extends/TopBar_AboutYIG.html" %}
{% block sub_depth2 %}
    <nav>
        <ul class="sub_depth2">
            <li><a href="#" onclick="sub_depth2_drop()">History</a></li>
            <ul id="sub_depth2_drop">
                <li><a href="{% url 'yighub:Public_Introduction' %}">Introduction</a></li>
                <li><a href="{% url 'yighub:Public_Vision' %}">Vision</a></li>
                <li><a href="{% url 'yighub:Public_Activity' %}">Activity</a></li>
            </ul>
        </ul>
    </nav>
{% endblock %}
{% block contents %}
<div class="span9">
	<br />	
	<br />

	<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
		<div class="row-fluid">
			<span class="lead">History</span> 
		</div>
		<br />
		<br />
		{% for e in page.entry_list %}
		<strong class="sub_lead">{{ e.title }}</strong>

		<dl class="dl-horizontal">
			{% for h in e.history %}
			<dt>{{ h.month }}</dt>

			{% for event in h.events %}
				<dd>{{ event }}</dd>
			{% endfor %}

			{% endfor %}
		</dl>
		{% if not forloop.last %}
		<hr />
		{% endif %}
		{% endfor %}

	</div>
</div><!--/span-->	

{% endblock %}