{% extends "yighub/sidebar.html" %}

{% block style %}
.wrap {
	white-space: pre-wrap;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />

		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				<span class="lead">Contact Us</span> 
			</div>
			<br />
			<br />
			<img src="/static/yighub/images/contacts.png" style="height:30%; width:100%;" />

<!-- 			<div class="well">
				<strong class="text-info">회 장</strong>
				<strong></strong>
				<br />
				<span class="text-info">- phone</span>
				<span></span>
				<br />
				<span class="text-info">- e-mail</span>
				<span></span>
				<br />
				<br />

				<strong class="text-info">부회장</strong>
				<strong></strong>
				<br />
				<span class="text-info">- phone</span>
				<span></span>
				<br />
				<span class="text-info">- e-mail</span>
				<span></span>
				<br />
				<br />
				
				<strong class="text-info">HR 매니저</strong>
				<strong></strong>
				<br />
				<span class="text-info">- phone</span>
				<span></span>
				<br />
				<span class="text-info">- e-mail</span>
				<span></span>
				<br />
			</div>
 -->
			<br />
			<br />
		</div>
	</div><!--/span-->	

{% endblock %}