{% extends "yighub/sidebar.html" %}

{% block style %}
.comments p {
	line-height: 180%;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<a href="">{{ entry.board }}</a>
			<h3>{{ entry.title }}</h3>
			<span> <strong>{{ entry.creator }}</strong> / {{ entry.time_created }} </span>
			<span class="pull-right">조회수 {{ entry.count_view }} / 추천수 {{ entry.count_recommendation }} </span>
			<hr />
			{{ entry.content|linebreaks }}
			<br />
			<hr />
			{% if files %}
			<!--<p class="lead">파일 다운로드</p>-->
			<ul class="unstyled">
				{% for f in files %}
				<li><a href = "{% url 'yighub:download' f.id %}">{{ f.file.name }}</a></li>
				{% endfor %}
			</ul>
			<br />
			<hr />
			{% endif %}
			{% if recommendations %}
			<p class="lead"><strong>추천하신 분들</strong></p>
			<ul style="margin-left: 15px;" class="inline">
				{% for r in recommendations %}
				<li><strong>{{ r }}, </strong></li> 
				{% endfor %}
			</ul>
			<br />
			<hr />
			{% endif %}

			<span>
				<a href = "{% url 'yighub:recommend' board entry.id %}">추천하기</a>
				&nbsp;&nbsp;
				<!-- <a href = "{% url 'yighub:reply' board entry.id %}">답글 쓰기</a> -->
			</span>
			{% if entry.creator == user %}
			<span class="pull-right">
				<a href = "{% url 'yighub:edit' board entry.id %}">수정하기</a> 
				&nbsp;&nbsp;
				<a href = "{% url 'yighub:delete' board entry.id %}">삭제하기</a>
			</span>
			{% endif %}
			<br />
			<br />

			{% if comments %}
			<div class="comments" style="background-color: #edeff4; ">
				{% for c in comments %}
				<div style="padding: 15px 20px 5px 20px; border-bottom-style: solid; border-width: 2px; border-color: white;">
				
				<strong>{{ c.creator }}</strong>
				<small class="muted"> {{ c.time_created }} </small>	
				{{ c.content|linebreaks }}
				</div>
				{% endfor %}
				
			</div>	
			{% endif %}
			<div style="padding: 15px 20px 5px 20px;">
				<form action = "{% url 'yighub:comment' board entry.id %}" method = 'post' >
					{% csrf_token %}
					<textarea rows="3" class="span12" name = "content"></textarea>
					<button style="margin: 10px;" class="btn btn-success pull-right" type = "submit">댓글달기</button>
				</form>
			</div>
		</div>

		<div class="row-fluid" style="margin-top: 70px">
			<div class="container-fluid">
				<span>
					<button type="button" class="btn" onclick = 'history.back()'>돌아가기</button>
				</span>
				<span class="pull-right">
				<a href="{% url 'yighub:create_in_board' board current_board.id %}">
					<button type="button" class="btn btn-primary">글쓰기</button>
				</a>
				</span>
			</div> 
			
		</div>
	</div><!--/span-->	
{% endblock %}
