{% extends "yighub/sidebar.html" %}

{% block style %}
.comments p {
	line-height: 180%;
}
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<a href="{% url 'yighub:listing' board current_board.id 1 %}">{{ entry.board }}</a>
			<h3>{{ entry.title }}</h3>
			<div class="media">
   			{% if entry.creator.avatar %}
			  <a class="pull-left" style="float:left;">
			    <img src="{{ entry.creator.avatar.url }}" style="height:50px;" class="media-object">
			  </a>
			  {% endif %}
			  <div class="media-body">
		    	<strong>{{ entry.creator }}</strong>
		    	<br />
		    	<span> {{ entry.time_created }} </span>
		    	{% if entry.time_last_modified != entry.time_created %}
		    	<span class="muted"> / 마지막 수정 {{ entry.time_last_modified }} </span>
		    	{% endif %}
		    	<span class="pull-right" style="float:right;">조회수 {{ entry.count_view }} / 추천수 {{ entry.count_recommendation }} </span>
			  </div>
			</div>
			<hr />
			{% if thumbnails %}
			{% for t in thumbnails %}
			<div class="text-center">
				<img src="{{ t.thumbnail.url }}" style="width:100%; max-width:650px;"/>
			</div>
			<br />
			{% endfor %}
			<br />
			<br />
			{% endif %}
			{% filter urlize|linebreaks %}
			{{ entry.content }}
			{% endfilter %}
			<br />
			<hr />
			{% if files %}
			<!--<p class="lead">파일 다운로드</p>-->
			<ul class="unstyled">
				{% for f in files %}
				<li><a href = "{% url 'yighub:download' f.id %}">{{ f.name }}&nbsp;</a><span class="badge badge-success">{{ f.hit }}</span></li>
				{% endfor %}
			</ul>
			<hr />
			{% endif %}

			<span>
				{% if user not in entry.recommendation.all %}
				<a href = "{% url 'yighub:recommend' board entry.id %}">추천하기</a>
				{% else %}
				<a href = "{% url 'yighub:delete_recommend' board entry.id %}">추천 취소</a>
				{% endif %}
				&nbsp;&nbsp;
				<a href = "{% url 'yighub:reply' board entry.id %}">답글쓰기</a>
			</span>
			{% if entry.creator == user %}
			<span class="pull-right">
				<a href = "{% url 'yighub:edit' board entry.id %}">수정하기</a> 
				&nbsp;&nbsp;

				<script>
				function check_delete() {
					if (confirm("정말 삭제하시겠습니까?")){
					window.open("{% url 'yighub:delete' board entry.id %}", "_self")						
					}
				}
				</script>
				<a onclick="check_delete()">삭제하기</a>
			</span>
			{% endif %}

			{% if recommendations %}
			<br />
			<br />
			<span class="muted">{{ count_recommendation }}명이 추천합니다 -</span>
			{% for r in recommendations %}
			<strong>
				{% if forloop.counter > 1 %}
				,
				{% endif %}
				&nbsp;{{ r }}
			</strong> 
			{% endfor %}
			{% endif %}

			<br />
			<br />

			{% if comments %}
			<div class="comments" style="background-color: #edeff4; ">
				{% for c in comments %}
				<div style="padding: 15px 20px 5px 20px; border-bottom-style: solid; border-width: 2px; border-color: white;">
					<div class="media">
						{% if c.creator.avatar %}
						<a class="pull-left" style="float:left;">
							<img src="{{ c.creator.avatar.url }}" style="width:50px;" class="media-object">
						</a>
						{% endif %}
						<div class="media-body">
							<strong>{{ c.creator }}</strong>
							<small class="muted"> {{ c.time_created }} </small>	

							{% if c.creator == user %}
							<span class="pull-right" style="float:right">
								<script>
								function check_delete_comment_{{c.id}}() {
									if (confirm("정말 삭제하시겠습니까?")){
										window.open("{% url 'yighub:delete_comment' board entry.id c.id %}", "_self")
									}
								}
								</script>
								<a onclick="check_delete_comment_{{c.id}}()"> 
									<i class="icon-remove" style="opacity:0.25"></i> 
								</a>
							</span>
							{% endif %}
							{% filter urlize %}
							{{ c.content|linebreaks }}
							{% endfilter %}

							<!-- Nested media object -->
							<div class="media">
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>	
			{% endif %}
			<div style="padding: 15px 20px 5px 20px;">
				<form action = "{% url 'yighub:comment' board entry.id %}" method = 'post' >
					{% csrf_token %}
					<textarea rows="3" class="span12" name = "content"></textarea>
					<button style="margin: 10px;" class="btn btn-success pull-right" type = "submit">댓글달기</button>
				</form>
			</div>
		</div>

		<div class="row-fluid" style="margin-top: 70px">
			<div class="container-fluid">
				<span>
				<!-- <a href="{% url 'yighub:listing' board current_board.id 1 %}"> -->
					<button type="button" class="btn" onclick="location.href = '{% url 'yighub:listing' board current_board.id 1 %}'">글 목록</button>
<!-- 					<button type="button" class="btn" onclick = 'history.back()'>글 목록</button>-->
				<!-- </a> -->
				</span>
				<span class="pull-right">
				<!-- <a href="{% url 'yighub:create_in_board' board current_board.id %}"> -->
					<button type="button" class="btn btn-primary" onclick="location.href = '{% url 'yighub:create_in_board' board current_board.id %}'">글쓰기</button>
				<!-- </a> -->
				</span>
			</div> 
			
		</div>
	</div><!--/span-->	
{% endblock %}
