{% extends 'yighub/extends/TopBar_for_member.html' %}
{% load staticfiles %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'yighub/CSS/sub_bar_visitor.css' %}"/>
    <link rel="stylesheet" href="{% static 'yighub/CSS/member_search.css' %}"/>
{% endblock %}
{% block contents %}
<section class="sub_bar" lang="en">
<div>
    <ul class="sub_depth1">
        <li id="current" class="clearfix"><a href="#">Home</a></li>
        <ul class="sub_depth1_drop clearfix">
            <li class="clearfix"><a href="{% url 'yighub:Public_Introduction' %}">Public</a></li>
            <li class="clearfix"><a href="{% url 'yighub:member_Taskforce_News' 0 %}">Taskforce</a></li>
            <li class="clearfix"><a href="{% url 'yighub:member_Boards_News' 0 %}">Boards</a></li>
            <li class="clearfix"><a href="{% url 'yighub:albums' 0 %}">Albums</a></li>
        </ul>
    </ul>
    <!--//sub_depth1-->
</div>
</section>
<section class="contents">
    <div class="container">
        <div class="Intro">
            {% if current_board %}
            <span class="lead">{{ current_board.name }}에서 '{{ keyword }}' 검색결과</span>
            {% else %}
            <span>모든 게시물에서 </span><span style="font-size: 24px;" id="lead">'{{ keyword }}'</span><span> 검색결과</span>
            {% endif %}
            <span class="muted">{{ count }}개</span>
        </div>
    <!--//Intro-->
        <section class="search">
            {% if current_board %}
            <form action="{% url 'yighub:search' current_board.id 'keyword' 1 %}" method="post" class="form-search" />
            {% else %}
            <form action="{% url 'yighub:search' 0 'keyword' 1 %}" method="post" class="form-search" />
            {% endif %}
                {% csrf_token %}
              <input type="text" name="keyword" class="input-medium search-query" />
              <button type="submit" class="btn">Search</button>
            </form>
        </section>
    <!--//search-->
        <br />
        {% if page.entry_list %}
    <section class="results">
        <table class="table">
            <thead>
                <tr class="info">
                    <th> 글쓴이 </th>
                    <th> 제목 </th>
                    <th> 등록일 </th>
                </tr>
            </thead>
            <tbody>
                {% for entry in page.entry_list %}
                <tr>
                    <td class="creator-column"> {{ entry.creator }} </td>
                    <td class="title-column">
                        {% for i in entry.range %} ↳ {% endfor %}
                        <a href="{% url 'yighub:read' entry.board_type entry.id %}"> {{ entry.title|truncatechars:45 }}
                            {% if not entry.count_comment == 0 %}
                            <span class="badge badge-info">{{ entry.count_comment }}</span>
                            {% endif %}
                        </a>
                    </td>
                    <td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        <br />
        <div class="pagination pagination-small text-center">
          <ul>
            {% for p in page.page_list %}
                {% if p == page.current_page %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{% url 'yighub:search' board_id keyword p %}">{{ p }}</a>
                </li>
            {% endfor %}
            {% if page.last_page %}
            <li class="visible-desktop"><a href="{% url 'yighub:search' board_id keyword page.last_page %}">&raquo;</a></li>
            {% endif %}
          </ul>
        </div>
        {% else %}
        <div class="container-fruid text-center">
            <p> 아직 글이 존재하지 않습니다. </p>
        </div>
        {% endif %}
        </section>
    <!--//results-->
    </div>
<!--//container-->
</section>
    <!--//contents-->
{% endblock %}
