{% extends "yighub/base.html" %}

{% block sidebar %}
<div class="span3">
	<div class="sidebar-nav">
		<ul class="nav nav-list sidebar">
			<li class="nav-header">Boards</li>
			{% for b in bulletin_list %}
			<li>
				<a href="{% url 'yighub:listing' 'bulletin' b.id 1 %}">{{ b.name }}
					<i class="icon-chevron-right"></i>
				</a>
			</li>
			{% endfor %}
			<li class="nav-header">Taskforce</li>
			{% for t in taskforce_list %}
			<li>
				<a href="{% url 'yighub:listing' 'taskforce' t.id 1 %}">{{ t.name }}
					<i class="icon-chevron-right"></i>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div><!--/.well -->
</div><!--/span-->
{% endblock %}

{% block contents %}
	<div class="span9">
		<br />	
		<br />
		<div class="container-fluid" style="max-width: 680px; margin-left: auto; margin-right: auto;">
			<div class="row-fluid">
				{% if current_board %}
				<span class="lead">{{ current_board.name }}에서 '{{ keyword }}'검색결과</span>
				{% else %}
				<span class="lead">모든 게시물에서 '{{ keyword }}'검색결과</span>
				{% endif %}
				<span class="muted">{{ count }}개</span>
			</div>
			<br />
			{% if page.entry_list %}
			<table class="table">
				<thead>
					<tr class="info">
						<th> 글쓴이 </th>
						<th> 제목 </th>
						<th> 등록일 </th>
					</tr>
				</thead>
				<tbody>
					{% for entry in page.entry_list %}
					<tr>
						<td class="creator-column"> {{ entry.creator }} </td>
						<td class="title-column">
							{% for i in entry.range %} ↳ {% endfor %}
							<a href="{% url 'yighub:read' entry.board_type entry.id %}"> {{ entry.title|truncatechars:45 }}
								{% if not entry.count_comment == 0 %}
								<span class="badge badge-info">{{ entry.count_comment }}</span>
								{% endif %}
							</a>
						</td>
						<td class="time-column"> {{ entry.time_created|date:"Y-m-d" }} </td>
					</tr>
					{% endfor %}
				</tbody>
				</table>
			<br />
			<div class="pagination pagination-small text-center">
			  <ul>
			    {% for p in page.page_list %}
				    {% if p == page.current_page %}
				    <li class="active">
				    {% else %}
				    <li>
				    {% endif %}
				    	<a href="{% url 'yighub:search' board_id keyword p %}">{{ p }}</a>
				    </li>
			    {% endfor %}
			    {% if page.last_page %}
			    <li class="visible-desktop"><a href="{% url 'yighub:search' board_id keyword page.last_page %}">&raquo;</a></li>
			    {% endif %}
			  </ul>
			</div>

			{% else %}
			<div class="container-fruid text-center">
				<p> 아직 글이 존재하지 않습니다. </p>
			</div>
			{% endif %}
		</div>
	</div><!--/span-->	

{% endblock %}
