{% extends "yighub/base.html" %}

{% block sidebar %}
{% if board == 'bulletin' %}
	<div class="span3 ">
		<div class="sidebar-nav">
			<ul class="nav nav-list sidebar">
				{% for b in board_list %}
				<li {% if b == current_board %} class="active" {% endif %}>
					<a  href="{% url 'yighub:listing' board b.id 0 %}">
						{{ b.name }}
						<i class="icon-chevron-right"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
{% elif board == 'taskforce' %}
	<div class="span3">
		<div class="sidebar-nav">
			<ul class="nav nav-list sidebar">
				{% for b in board_list %}
				<li {% if b == current_board %} class="active" {% endif %}>
					<a href="{% url 'yighub:listing' board b.id 0 %}">
						{{ b.name }}
						<i class="icon-chevron-right"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
{% else %}
	<div class="span3">
		<div class="sidebar-nav">
			<ul class="nav nav-list sidebar">

				<li class="nav-header">About YIG</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Intr.id 0 %}">Introduction<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Visi.id 0 %}">Vision<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Acti.id 0 %}">Activity<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Hist.id 0 %}">History<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Clip.id 0 %}">Clipping<i class="icon-chevron-right"></i></a></li>
				
				<li class="nav-header">Recruiting</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Recr.id 0 %}">Recruiting<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Appl.id 0 %}">Apply<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Sche.id 0 %}">Schedule<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.FAQ.id 0 %}">FAQ<i class="icon-chevron-right"></i></a></li>

				<li class="nav-header">Member Profile</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Memb.id 0 %}">Member Profile<i class="icon-chevron-right"></i></a></li>

				<li class="nav-header">Fund</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.simA.id 0 %}">심봤다 A형<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.simB.id 0 %}">심봤다 B형<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.simV.id 0 %}">심봤다 V형<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Univ.id 0 %}">YIG Universe<i class="icon-chevron-right"></i></a></li>

				<li class="nav-header">Research</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Rese.id 0 %}">Research<i class="icon-chevron-right"></i></a></li>

				<li class="nav-header">Contact Us</li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.Cont.id 0 %}">Contact Us<i class="icon-chevron-right"></i></a></li>
				<li {% if b == current_board %} class="active" {% endif %}><a href="{% url 'yighub:listing' 'public' public_dict.QnA.id 0 %}">QnA<i class="icon-chevron-right"></i></a></li>

				<!-- {% for b in board_list %}
					{% if b.name == 'Introduction' %}<li class="nav-header">About YIG</li>{% endif %}
					{% if b.name == 'Recruiting' %}<li class="nav-header">Recruiting</li>{% endif %}
					{% if b.name == 'Member Profile' %}<li class="nav-header">Member Profile</li>{% endif %}
					{% if b.name == 'Fund' %}<li class="nav-header">Fund</li>{% endif %}
					{% if b.name == 'Research' %}<li class="nav-header">Research</li>{% endif %}
					{% if b.name == 'Contact Us' %}<li class="nav-header">Contact Us</li>{% endif %}
					<li {% if b == current_board %} class="active" {% endif %}>
						<a href="{% url 'yighub:listing' board b.id 0 %}">
							{{ b.name }}
							<i class="icon-chevron-right"></i>
						</a>
					</li>
				{% endfor %} -->
			</ul>
		</div><!--/.well -->
	</div><!--/span-->
{% endif %}
{% endblock %}